<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Alpha Diversity - Mian</title>
</head>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Alpha Diversity <i class="fa fa-info-circle analysis-help" data-toggle="popover" data-title="Alpha Diversity" data-content="Investigate the species richness of the OTU table<br /><br />This analysis uses the diversity measure from the R 'vegan' package <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/diversity.html' target='_blank'>here</a>" data-trigger="hover"></i></h3>

    {% include 'project_list.html' %}

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                  Visualization Parameters
                </a>
              </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters">
              <div class="panel-body">

                <label class="control-label">Taxonomic Level  <i class="fa fa-info-circle" data-toggle="popover" data-title="Taxonomic Level" data-content="Calculate the alpha diversity measure at the taxonomic level selected. The OTUs will be grouped together (by summing the OTU values) at the selected taxonomic level before the analysis is applied." data-trigger="hover"></i></label>
                <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                    <option value="Kingdom">Kingdom</option>
                    <option value="Phylum">Phylum</option>
                    <option value="Class">Class</option>
                    <option value="Order">Order</option>
                    <option value="Family">Family</option>
                    <option value="Genus">Genus</option>
                    <option value="Species">Species</option>
                    <option value="OTU" selected>OTU</option>
                </select>

                <label class="control-label">Categorical Variable  <i class="fa fa-info-circle" data-toggle="popover" data-title="Categorical Variable" data-content="Indicate which sample metadata should be used as the grouping variable. A different alpha diversity boxplot will be created for each unique metadata value." data-trigger="hover"></i></label>
                <select id="catvar" name="catvar" class="form-control">
                </select>

                <label class="control-label">Diversity Index <i class="fa fa-info-circle" data-toggle="popover" data-title="Diversity Index" data-content="Indicate the method by which the alpha diversity should be calculated. More information on the different diversity types can be found <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/diversity.html' target='_blank'>here</a><br /><br />Faith's Phylogenetic Diversity is a taxonomic richness analogue based on the phylogenetic tree"></i></label>
                <select id="alphaType" name="alphaType" class="form-control">
                    <option value="shannon">Shannon</option>
                    <option value="simpson">Simpson</option>
                    <option value="invsimpson">Inverse Simpson</option>
                    <option value="faith_pd">Faith's Phylogenetic Diversity</option>
                </select>

                <div id="alphaContextContainer">
                    <label class="control-label">Diversity Context  <i class="fa fa-info-circle" data-toggle="popover" data-title="Diversity Context" data-content="<ul><li><strong>Alpha Diversity</strong> The diversity measure based on the diversity index above</li><li><strong>Evenness</strong> Pielou's evenness measure as calculated <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/diversity.html' target='_blank'>here</a></li><li><strong>Species Number</strong> The number of unique species within each sample</li></ul>"></i></label>
                    <select id="alphaContext" name="alphaContext" class="form-control">
                        <option value="alpha">Alpha Diversity</option>
                        <option value="evenness">Evenness</option>
                        <option value="speciesnumber">Species Number</option>
                    </select>
                </div>

                {% include 'filtering_options_statistical_test.html' %}
              </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">

    {% include 'notifications.html' %}

    {% include 'download_container.html' %}
    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
    </div>

    <hr style="margin-top:0px; margin-bottom:0px;"/>

    <div id="stats-container" class="analysis-container" style="display:none;">
        <h4><span id="stats-type"></span> Summary</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Category 1</th>
                <th>Category 2</th>
                <th>P-Value</th>
            </tr>
            </thead>
            <tbody id="stats-rows">
            </tbody>
        </table>
    </div>

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz.html' %}


<!-- Include custom JS here -->
<script src="/static/js/core.shared.boxplots.js"></script>
<script src="/static/js/core.alpha.diversity.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
