<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Beta Diversity - Mian</title>
</head>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Beta Diversity <i class="fa fa-info-circle analysis-help" data-toggle="popover" data-title="Beta Diversity" data-content="Measures the dissimilarity between different groups of samples<br /><br />This analysis uses the vegdist measure from the R 'vegan' package <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/vegdist.html' target='_blank'>here</a>" data-trigger="hover"></i></h3>

    {% include 'project_list.html' %}

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                  Visualization Parameters
                </a>
              </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters">
              <div class="panel-body">
                <label class="control-label">Taxonomic Level  <i class="fa fa-info-circle" data-toggle="popover" data-title="Taxonomic Level" data-content="Calculate the beta diversity measure at the taxonomic level selected. The OTUs will be grouped together (by summing the OTU values) at the selected taxonomic level before the analysis is applied." data-trigger="hover"></i></label>
                <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                    <option value="Kingdom">Kingdom</option>
                    <option value="Phylum">Phylum</option>
                    <option value="Class">Class</option>
                    <option value="Order">Order</option>
                    <option value="Family">Family</option>
                    <option value="Genus">Genus</option>
                    <option value="Species">Species</option>
                    <option value="OTU" selected>OTU</option>
                </select>

                <label class="control-label">Categorical Variable <i class="fa fa-info-circle" data-toggle="popover" data-title="Categorical Variable" data-content="Indicate which metadata should be used as the grouping variable. A different beta diversity boxplot will be created for each unique metadata value." data-trigger="hover"></i></label>
                <select id="catvar" name="catvar" class="form-control">
                </select>

                <label class="control-label">Strata Variable <i class="fa fa-info-circle" data-toggle="popover" data-title="Strata" data-content="Indicate which metadata should be used as the strata variable. Strata is required for PERMANOVA for nested experiment studies (to control the groups that should be permuted). <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/adonis.html'>See here for more info</a>" data-trigger="hover"></i></label>
                <select id="strata" name="strata" class="form-control">
                </select>

                <label class="control-label">Diversity Type   <i class="fa fa-info-circle" data-toggle="popover" data-title="Diversity Type" data-content="The beta diversity index measure to use as described in the R 'Vegan' package <a href='https://cran.r-project.org/web/packages/vegan/vignettes/diversity-vegan.pdf' target='_blank'>here</a>" data-trigger="hover"></i></label>
                <select id="betaType" name="betaType" class="form-control">
                    <option value="bray">Bray-Curtis</option>
                    <option value="jaccard">Jaccard</option>
                    <option value="sor">Sorenson</option>
                    <option value="w">Whittaker</option>
                    <option value="weighted_unifrac">Weighted Unifrac</option>
                    <option value="unweighted_unifrac">Unweighted Unifrac</option>
                </select>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    {% include 'notifications.html' %}
    {% include 'download_container.html' %}

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
    </div><!-- /.container -->

    <hr style="margin-top:0px; margin-bottom:0px;"/>

    <div id="permanova-container" class="analysis-container" style="display:none;">
        <h4>PERMANOVA</h4>
        <h4><small>Significance test for the difference in the centroid between groups. <a href="http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/adonis.html" target="_blank">Learn more here</a></small></h4>
        <pre>
            <code>
                <span id="permanova" style="font-family:'Lucida Console', Monaco, monospace;"></span>
                <span id="permanova-loading"><i class="fa fa-spinner fa-spin"></i> Loading...</span>
            </code>
        </pre>
    </div>

    <div id="betadisper-container" class="analysis-container" style="display:none;">
        <h4>ANOVA</h4>
        <h4><small>Significance test for the multivariate homogeneity between groups (ie. whether the spread of samples is different between multiple group). <a href="http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/betadisper.html" target="_blank">Learn more here</a></small></h4>
        <pre>
            <code>
                <span id="betadisper" style="font-family:'Lucida Console', Monaco, monospace;"></span>
            </code>
        </pre>
    </div>

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz-d3v4.html' %}

<!-- Include custom JS here -->
<script src="/static/js/core.shared.boxplots.js"></script>
<script src="/static/js/core.beta.diversity.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
