<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Beta Diversity - mian</title>
</head>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Beta Diversity <i class="fa fa-info-circle analysis-help" data-toggle="popover" data-title="Beta Diversity" data-content="Measures the dissimilarity between different groups of samples<br /><br />This analysis uses the vegdist measure from the R 'vegan' package <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/vegdist.html' target='_blank'>here</a>" data-trigger="hover"></i></h3>

    {% include 'project_list.html' %}

    <hr/>

    {% include 'filtering_options.html' %}

    <hr/>

    <h4>Visualization Parameters</h4>

    <label class="control-label">Taxonomic Level  <i class="fa fa-info-circle" data-toggle="popover" data-title="Taxonomic Level" data-content="Calculate the beta diversity measure at the taxonomic level selected. The OTUs will be grouped together (by summing the OTU values) at the selected taxonomic level before the analysis is applied." data-trigger="hover"></i></label>
    <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
        <option value="Kingdom">Kingdom</option>
        <option value="Phylum">Phylum</option>
        <option value="Class">Class</option>
        <option value="Order">Order</option>
        <option value="Family">Family</option>
        <option value="Genus">Genus</option>
        <option value="Species">Species</option>
        <option value="OTU" selected>OTU</option>
    </select>

    <label class="control-label">Categorical Variable <i class="fa fa-info-circle" data-toggle="popover" data-title="Category Breakdown" data-content="Indicate which metadata should be used as the grouping variable. A different beta diversity boxplot will be created for each unique metadata value." data-trigger="hover"></i></label>
    <select id="catvar" name="catvar" class="form-control">
    </select>

    <label class="control-label">Diversity Type   <i class="fa fa-info-circle" data-toggle="popover" data-title="Diversity Type" data-content="The beta diversity index measure to use as described in the R 'Vegan' package <a href='https://cran.r-project.org/web/packages/vegan/vignettes/diversity-vegan.pdf' target='_blank'>here</a>" data-trigger="hover"></i></label>
    <select id="betaType" name="betaType" class="form-control">
        <option value="bray">Bray-Curtis</option>
        <option value="sor">Sorenson</option>
        <option value="w">Whittaker</option>
    </select>
</div>

<div class="content-wrapper">
    <div id="display-error" class="project-empty" style="display:none;">
        <i class="fa fa-exclamation-circle fa-4x"></i>
        <h3>Analysis cannot be performed with these parameters</h3>
        <h5>Try changing the Category Breakdown parameter and try again</h5>
    </div>

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
    </div><!-- /.container -->

    <hr style="margin-top:0px; margin-bottom:0px;"/>

    <div id="stats-container" class="analysis-container" style="display:none;">
        <h4>Welch's T-Test Summary</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Category 1</th>
                <th>Category 2</th>
                <th>P-Value</th>
            </tr>
            </thead>
            <tbody id="stats-rows">
            </tbody>
        </table>
    </div><!-- /.container -->

    <div id="permanova-container" class="analysis-container" style="display:none;">
        <h4>PERMANOVA</h4>
        <span id="permanova" style="font-family:'Lucida Console', Monaco, monospace;"></span>
    </div>

    <div id="betadisper-container" class="analysis-container" style="display:none;">
        <h4>Dispersion</h4>
        <span id="betadisper" style="font-family:'Lucida Console', Monaco, monospace;"></span>
    </div>

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz.html' %}

<!-- Include custom JS here -->
<script src="static/js/core.shared.boxplots.js"></script>
<script src="static/js/core.beta.diversity.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
