<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Boxplots - Mian</title>
</head>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Boxplots <a href="https://tbj128.gitbook.io/mian/boxplots" target="_blank"><i class="fa fa-info-circle analysis-help" ></i></a></h3>

    {% include 'project_list.html' %}

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                  Visualization Parameters
                </a>
              </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters" style="margin-bottom: 100px;">
              <div class="panel-body">
                <label class="control-label">Categorical Variable <a href="https://tbj128.gitbook.io/mian/boxplots#categorical-variable" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="catvar" name="catvar" class="form-control">
                </select>

                <label class="control-label">Y-Axis Values <a href="https://tbj128.gitbook.io/mian/boxplots#y-axis-values" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="yvals" name="yvals" class="form-control">
                </select>

                <div id="taxonomic-level-container">
                    <label id="taxonomic-level-label" class="control-label">Taxonomic Level <a href="https://tbj128.gitbook.io/mian/boxplots#taxonomic-level" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                        <option value="Kingdom">Kingdom</option>
                        <option value="Phylum">Phylum</option>
                        <option value="Class">Class</option>
                        <option value="Order">Order</option>
                        <option value="Family">Family</option>
                        <option value="Genus">Genus</option>
                        <option value="Species">Species</option>
                        <option value="OTU" selected>OTU</option>
                    </select>
                </div>

                <div id="specific-taxonomy-container">
                    <label id="specific-taxonomy-label" class="control-label">OTUs or Taxonomic Groups to Show <a href="https://tbj128.gitbook.io/mian/boxplots#otus-or-taxonomic-groups-to-show" target="_blank"><i class="fa fa-info-circle"></i></a></label>

                    <div id="taxonomy-specific-typeahead-wrapper">
                        <input id="specific-taxonomy-typeahead" type="text" data-background="" value="" />
                    </div>
                </div>
                {% with typeahead_index=1 %}
                    {% include "container-gene-input.html" %}
                {% endwith %}

                <div id="colorvarContainer">
                    <label class="control-label">Color Points By <a href="https://tbj128.gitbook.io/mian/boxplots#color-variable" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="colorvar" name="colorvar" class="form-control">
                    </select>
                </div>

                <!-- Used for  -->
                <div id="colorPaletteContainer1" style="display:none">
                    <label class="control-label">Color Palette</label>
                    <select id="colorpalette1" name="colorpalette1" class="form-control">
                        <option value="default">Default</option>
                        <option value="tableau">Tableau</option>
                        <option value="dark">Dark</option>
                    </select>
                </div>

                <div id="colorPaletteContainer2" style="display:none">
                    <label class="control-label">Color Palette</label>
                    <select id="colorpalette2" name="colorpalette2" class="form-control">
                        <option value="default">Default</option>
                        <option value="blue">Blue</option>
                        <option value="green">Green</option>
                        <option value="black">Black</option>
                    </select>
                </div>

                {% include 'filtering_options_statistical_test.html' %}
              </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    {% include 'notifications-error.html' %}
    <div id="display-no-results" class="display-notification project-empty" style="display:none;">
        <div class="row">
            <div class="col-md-3">
                <i class="fa fa-bar-chart fa-4x"></i>
            </div>
            <div class="col-md-9">
                <h3>No Results Yet</h3>
                <h5>Start by adding a <strong>OTU, Taxonomic Group, or Gene</strong> on the left</h5>
                <p>
                    <a href="https://tbj128.gitbook.io/mian/boxplots" target="_blank">How do I use this tool?</a>
                </p>
            </div>
        </div>
    </div>

    {% include 'download_container.html' %}

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
    </div><!-- /.container -->

    <hr style="margin-top:0px; margin-bottom:0px;"/>
    <div id="stats-container" class="analysis-container" style="display:none;">
        <h4><span id="stats-type"></span> Summary</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Category 1</th>
                <th>Category 2</th>
                <th>P-Value</th>
            </tr>
            </thead>
            <tbody id="stats-rows">
            </tbody>
        </table>
    </div><!-- /.container -->

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz-d3v4.html' %}

<!-- Include custom JS here -->
<script src="/static/js/core.shared.boxplots.js"></script>
<script src="/static/js/core.boxplots.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
