<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
    <title>Boxplots - mian</title>
  </head>

  <body>
    {% include 'navigation.html' %}
    {% include 'loading-bar.html' %}

    <div id="editor" class="editor">
      <h3><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Boxplots</h3>

      {% include 'project_list.html' %}

      <hr />

      {% include 'filtering_options.html' %}

      <hr />

      <h4>Visualization Parameters</h4>

      <label class="control-label">Category Breakdown</label>
      <select id="catvar" name="catvar" class="form-control">
      </select>

      <label class="control-label">Y-Axis Values</label>
      <select id="yvals" name="yvals" class="form-control">
      </select>

      <div id="taxonomic-level" style="display:none;">
        <label id="taxonomic-level-label" class="control-label">Aggregate Abundance Taxonomic Level</label>
        <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
          <option value="Kingdom">Kingdom</option>
          <option value="Phylum">Phylum</option>
          <option value="Class">Class</option>
          <option value="Order">Order</option>
          <option value="Family">Family</option>
          <option value="Genus">Genus</option>
          <option value="Species">Species</option>
          <option value="OTU" selected>OTU</option>
        </select>
      </div>
    </div>

    <div class="content-wrapper">
      <div id="analysis-container" class="analysis-container" style="min-height:500px;">
      </div><!-- /.container -->

      <hr style="margin-top:0px; margin-bottom:0px;" />
      <div id="stats-container" class="analysis-container" style="display:none;">
        <h4>Welch's T-Test Summary</h4>
        <table class="table table-hover"> 
          <thead> 
            <tr> 
              <th>Category 1</th> 
              <th>Category 2</th> 
              <th>P-Value</th> 
            </tr> 
          </thead> 
          <tbody id="stats-rows"> 
          </tbody>
        </table>
      </div><!-- /.container -->

      <div id="push" style="height:42px;"></div>
    </div>
    
    {% include 'footer-viz.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/d3.js"></script>
    <script src="static/js/plugins/bootstrap-custom-multiselect.js"></script>
    <script src="static/js/plugins/bootstrap3-typeahead.min.js"></script>
    <script src="static/js/plugins/bootstrap-tagsinput.min.js"></script>
    <script src="static/js/core.shared.js"></script>
    <script src="static/js/core.boxplots.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="static/js/ie10-viewport-bug-workaround.js"></script>-->

  </body>
</html>
