
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
    <title>Change Password - Mian: 16S rRNA data analysis, visualization, and feature selection tools</title>
  </head>

  <body>
    {% include 'navigation.html' %}

    <div class="content-wrapper" style="padding-top:24px">
      <div class="jumbotron" style="margin: 0 auto;width:540px;padding:36px;">
        <div class="container">
          <h2>Change Password</h2>

          <form method="POST" action="/change_password">
            {% if success == 1 %}
            <div class="alert alert-success">
              <strong>Success</strong> Password has been successfully changed
            </div>
            {% endif %}
            {% if error == 1 %}
            <div class="alert alert-danger">
              <strong>Could Not Change Password</strong> Please try again
            </div>
            {% endif %}
            <div class="form-group">
              <label for="old_password">Original Password</label>
              <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Original Password">
            </div>
            <div class="form-group">
              <label for="new_password">New Password</label>
              <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>

      <div id="push" style="height:42px;"></div>
    </div>

    {% include 'footer-full.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>

    </script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

  </body>
</html>
