<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Composition Heatmap - Mian</title>
</head>

<style>

.analysis-container {
    width:100%;
    height:100%;
    margin-left: 360px;
    position: relative;
    z-index: 99;
}

.tooltip {
    position: absolute;
    padding: 8px;
    font-size: 12px;
    background-color: #ddd;
    border-radius: 4px;
    pointer-events: none;
}
</style>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Composition Heatmap <i class="fa fa-info-circle analysis-help" data-toggle="popover" data-title="Composition Heatmap Analysis" data-content="Visualizes the contents of the OTU table grouped at the indicated taxonomic level as a heatmap" data-trigger="hover"></i></h3>

    {% include 'project_list.html' %}

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                  Visualization Parameters
                </a>
              </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters">
              <div class="panel-body">

                <label class="control-label">Taxonomic Level  <i class="fa fa-info-circle" data-toggle="popover" data-title="Taxonomic Level" data-content="The OTUs will be grouped together (by summing the OTU values) at the selected taxonomic level before the analysis is applied." data-trigger="hover"></i></label>
                <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                    <option value="Kingdom">Kingdom</option>
                    <option value="Phylum" selected>Phylum</option>
                    <option value="Class">Class</option>
                    <option value="Order">Order</option>
                    <option value="Family">Family</option>
                    <option value="Genus">Genus</option>
                    <option value="Species">Species</option>
                    <option value="OTU">OTU</option>
                </select>

                <hr/>

                <label class="control-label">Categorical Variable <i class="fa fa-info-circle" data-toggle="popover" data-title="Categorical Variable" data-content="Indicate which sample metadata should be used as the grouping variable. A separate donut plot is created for each unique metadata value." data-trigger="hover"></i></label>
                <select id="catvar" name="catvar" class="form-control">
                </select>

                <label class="control-label">Show Labels <i class="fa fa-info-circle" data-toggle="popover" data-title="Show Labels?" data-content="If the labels are hidden, the heatmap will be more compact"></i></label>
                <select id="showlabels" name="showlabels" class="form-control">
                    <option value="all">Show All Lables</option>
                    <option value="x">Show X-Axis Labels Only</option>
                    <option value="y">Show Y-Axis Labels Only</option>
                    <option value="no">Hide Labels</option>
                </select>

                <label class="control-label">Taxonomic Groups Axis <i class="fa fa-info-circle" data-toggle="popover" data-title="Taxonomic Groups Axis" data-content="Choose to either show the taxonomic groups on the x-axis or the categorical variable"></i></label>
                <select id="xaxis" name="xaxis" class="form-control pad-bottom">
                    <option value="Taxonomic">X-Axis</option>
                    <option value="Categorical">Y-Axis</option>
                </select>

                <label class="control-label">Color Scheme <i class="fa fa-info-circle" data-toggle="popover" data-title="Taxonomic Groups Axis" data-content="Choose to either show the taxonomic groups on the x-axis or the categorical variable"></i></label>
                <select id="colorscheme" name="colorscheme" class="form-control pad-bottom">
                    <option value="blue">Blue</option>
                    <option value="rainbow">Rainbow</option>
                </select>

                <input type="hidden" id="corrvar1" value="otus" />
                <input type="hidden" id="corrvar2" value="samples" />
                <input type="hidden" id="plotType" value="heatmap" />
              </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    {% include 'notifications.html' %}

    {% include 'download_container.html' %}

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
    </div><!-- /.container -->

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz-d3v4.html' %}


<!-- Include custom JS here -->
<script src="/static/js/core.shared.heatmap.js"></script>
<script src="/static/js/core.composition.js"></script>
<script type="text/javascript" src="/static/js/plugins/rgbcolor.js"></script>
<script type="text/javascript" src="/static/js/plugins/StackBlur.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
