<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Composition - mian</title>
</head>

<style>
    .analysis-container div.tooltip { 
        position: absolute;
        background:#FFF;
        padding: 4px 8px;       
        font: 12px sans-serif;
        border: 1px solid steelblue;
        border-radius: 4px;     
        min-width:128px;
        margin-right:12px;
        pointer-events: none;     
    }

    .analysis-container .bar:hover {
      fill-opacity:0.8 !important;
    }

    .analysis-container .arc:hover {
      stroke-width: 5px !important;
      fill-opacity:0.8 !important;
      pointer-events:all;
    }

    .analysis-container .donut-header {
      font-size: 20px !important;
      fill: #555;
    }

    .analysis-container text {
      font-size: 12px !important;
    }

</style>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Composition Analysis <i class="fa fa-info-circle analysis-help" data-toggle="popover" data-title="Compositional Analysis" data-content="Visualizes the contents of the OTU table grouped at the indicated taxonomic level" data-trigger="hover"></i></h3>

    {% include 'project_list.html' %}

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                  Visualization Parameters
                </a>
              </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters">
              <div class="panel-body">

                <select id="taxonomy" name="taxonomy" class="form-control pad-bottom" style="display:none;">
                    <option value="Kingdom">Kingdom</option>
                    <option value="Phylum" selected>Phylum</option>
                    <option value="Class">Class</option>
                    <option value="Order">Order</option>
                    <option value="Family">Family</option>
                    <option value="Genus">Genus</option>
                    <option value="Species">Species</option>
                    <option value="OTU">OTU</option>
                </select>

                <hr/>

                <label class="control-label">Category Breakdown <i class="fa fa-info-circle" data-toggle="popover" data-title="Category Breakdown" data-content="Indicate which metadata should be used as the grouping variable" data-trigger="hover"></i></label>
                <select id="catvar" name="catvar" class="form-control">
                </select>

                <label class="control-label">Plot Type  <i class="fa fa-info-circle" data-toggle="popover" data-title="Plot Type" data-content="The type of graph to show"></i></label>
                <select id="plotType" name="plotType" class="form-control pad-bottom">
                    <option value="bar">Bar</option>
                    <option value="donut" selected>Donut</option>
                </select>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div id="display-error" class="project-empty" style="display:none;">
        <i class="fa fa-exclamation-circle fa-4x"></i>
        <h3>Analysis cannot be performed with these parameters</h3>
        <h5>Try changing the Category Breakdown parameter and try again</h5>
    </div>

    <div class="download-container">
        <button id="download-svg" class="btn btn-default" type="button">Download</button>
    </div>

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
    </div><!-- /.container -->

    <canvas id="donwload-canvas" width="1000px" height="600px" style="display:none;"></canvas>

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz.html' %}


<!-- Include custom JS here -->
<script src="static/js/core.composition.js"></script>
<script type="text/javascript" src="static/js/plugins/rgbcolor.js"></script>
<script type="text/javascript" src="static/js/plugins/StackBlur.js"></script>
<script type="text/javascript" src="static/js/plugins/canvg.js"></script>
<script type="text/javascript" src="static/js/plugins/FileSaver.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
