<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Composition Heatmap - Mian</title>
</head>

<style>

.analysis-container {
    width:100%;
    height:100%;
    margin-left: 360px;
    position: relative;
    z-index: 99;
}

.tooltip {
    position: absolute;
    padding: 8px;
    font-size: 12px;
    background-color: #ddd;
    border-radius: 4px;
    pointer-events: none;
}
</style>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Composition Heatmap <a href="https://tbj128.gitbook.io/mian/heatmap-composition" target="_blank"><i class="fa fa-info-circle analysis-help" ></i></a></h3>

    {% include 'project_list.html' %}

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                  Visualization Parameters
                </a>
              </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters">
              <div class="panel-body">

                <label class="control-label">Taxonomic Level <a href="https://tbj128.gitbook.io/mian/heatmap-composition#taxonomic-level" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                    <option value="Kingdom">Kingdom</option>
                    <option value="Phylum" selected>Phylum</option>
                    <option value="Class">Class</option>
                    <option value="Order">Order</option>
                    <option value="Family">Family</option>
                    <option value="Genus">Genus</option>
                    <option value="Species">Species</option>
                    <option value="OTU">OTU</option>
                </select>

                <hr/>

                <label class="control-label">Row Variable <a href="https://tbj128.gitbook.io/mian/heatmap-composition#row-variable" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="rows" name="rows" class="form-control">
                    <option value="Taxonomic">Taxonomic Groups/OTUs</option>
                    <option value="SampleID">Sample ID</option>
                </select>

                <label class="control-label">Column Variable <a href="https://tbj128.gitbook.io/mian/heatmap-composition#column-variable" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="cols" name="cols" class="form-control">
                    <option value="SampleID">Sample ID</option>
                    <option value="Taxonomic">Taxonomic Groups/OTUs</option>
                </select>

                <label class="control-label">Categorical Variable <a href="https://tbj128.gitbook.io/mian/heatmap-composition#categorical-variable" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="catvar" name="catvar" class="form-control">
                </select>

                <label class="control-label">Label Visibility <a href="https://tbj128.gitbook.io/mian/heatmap-composition#label-visibility" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="showlabels" name="showlabels" class="form-control">
                    <option value="all">Show All Labels</option>
                    <option value="x">Show Column Labels Only</option>
                    <option value="y">Show Row Labels Only</option>
                    <option value="no">Hide Labels</option>
                </select>

                <label class="control-label">Cluster Samples By <a href="https://tbj128.gitbook.io/mian/heatmap-composition#cluster-samples-by" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="clustersamples" name="cluster" class="form-control">
                    <option value="categorical">Categorical Variable</option>
                    <option value="none">Don't Cluster</option>
                </select>

                <label class="control-label">Cluster Taxonomic Groups/OTU By <a href="https://tbj128.gitbook.io/mian/heatmap-composition#cluster-taxonomic-groups-otu-by" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="clustertaxonomic" name="cluster" class="form-control">
                    <option value="otu">OTU Count</option>
                    <option value="none">Don't Cluster</option>
                </select>

                <label class="control-label">Color Scheme <a href="https://tbj128.gitbook.io/mian/heatmap-composition#color-scheme" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="colorscheme" name="colorscheme" class="form-control pad-bottom">
                    <option value="blue">Blue</option>
                    <option value="rainbow">Rainbow</option>
                </select>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    {% include 'notifications.html' %}

    {% include 'download_container.html' %}

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
    </div><!-- /.container -->

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz-d3v4.html' %}


<!-- Include custom JS here -->
<script src="/static/js/core.shared.heatmap.js"></script>
<script src="/static/js/core.composition.heatmap.js"></script>
<script type="text/javascript" src="/static/js/plugins/rgbcolor.js"></script>
<script type="text/javascript" src="/static/js/plugins/StackBlur.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
