<div id="specific-taxonomy-container-{{typeahead_index}}">
    <label id="specific-taxonomy-label" class="control-label">OTUs or Taxonomic Groups <i class="fa fa-info-circle" data-toggle="popover" data-title="Select OTUs and Taxonomic Groups" data-content="Choose the OTUs or taxonomic groups whose abundance should be used in the tool." data-trigger="hover"></i></label>

    <div class="taxonomy-specific-typeahead-wrapper">
        <input id="specific-taxonomy-typeahead-{{typeahead_index}}" type="text" data-background="" value="" />
    </div>
</div>
