<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Correlations Selection - Mian</title>
    <link href="/static/css/plugins/datatables.min.css" rel="stylesheet">
</head>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-th-large"></i>&nbsp;&nbsp;Correlations Selection <a href="https://tbj128.gitbook.io/mian/correlations-selection" target="_blank"><i class="fa fa-info-circle analysis-help" ></i></a></h3>

    {% include 'project_list.html' %}

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                  Analysis Parameters
                </a>
              </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters">
              <div class="panel-body">

                <label class="control-label">Taxonomic Level <a href="https://tbj128.gitbook.io/mian/correlations-selection#taxonomic-level" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                    <option value="Kingdom">Kingdom</option>
                    <option value="Phylum">Phylum</option>
                    <option value="Class">Class</option>
                    <option value="Order">Order</option>
                    <option value="Family">Family</option>
                    <option value="Genus">Genus</option>
                    <option value="Species">Species</option>
                    <option value="OTU" selected>OTU</option>
                </select>

                <label class="control-label">Select... <a href="https://tbj128.gitbook.io/mian/correlations-selection#select" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="select" name="select" class="form-control">
                    <option value="taxonomy">OTU or Taxonomic Group</option>
                    <option value="metadata">Sample Metadata</option>
                    <option value="gene">Gene Expression</option>
                </select>

                <label class="control-label">By Correlating Against... <a href="https://tbj128.gitbook.io/mian/correlations-selection#by-correlating-against" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="against" name="against" class="form-control">
                    <option value="metadata">Sample Metadata</option>
                    <option value="gene">Gene Expression</option>
                    <option value="alpha">Alpha Diversity</option>
                    <option value="taxonomy">OTU or Taxonomic Group</option>
                </select>

                <div id="numerical-variable-container" style="display:none;">
                    <label class="control-label">Numerical Variable to Correlate <a href="https://tbj128.gitbook.io/mian/correlations-selection#numerical-variable-to-correlate" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="expvar" name="expvar" class="form-control">
                    </select>
                </div>

                {% with typeahead_index=1 %}
                    {% include "container-specific-taxonomy.html" %}
                {% endwith %}

                {% with typeahead_index=1 %}
                    {% include "container-gene-input.html" %}
                {% endwith %}

                {% include 'container-alpha-diversity-options.html' %}

                <label class="control-label">P-Value Threshold <a href="https://tbj128.gitbook.io/mian/correlations-selection#p-value-threshold" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <input class="form-control" id="pvalthreshold" name="pvalthreshold" type="number" value="0.05" min="0"
                       max="1" step="0.01"/>

                <label class="control-label">Select Using Training Set <a href="https://tbj128.gitbook.io/mian/correlations-selection#select-using-training-set" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="useTrainingSet" name="useTrainingSet" class="form-control">
                    <option value="yes">Yes</option>
                    <option value="no" selected>No</option>
                </select>

                <div id="trainingProportionContainer" style="display:none;">
                    <label class="control-label">Training Proportion (applicable only if using a training set) <a href="https://tbj128.gitbook.io/mian/correlations-selection#training-proportion" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <input class="form-control" id="trainingProportion" name="trainingProportion" type="number" value="0.7"/>
                </div>

                <label class="control-label">Correlation Method <a href="https://tbj128.gitbook.io/mian/correlation-selection#correlation-method" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="corrMethod" name="corrMethod" class="form-control">
                    <option value="pearson">Pearson</option>
                    <option value="spearman">Spearman</option>
                </select>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div id="display-no-catvar" class="display-notification project-empty" style="display:none;">
        <div class="row">
            <div class="col-md-3">
                <i class="fa fa-exclamation-circle fa-4x"></i>
            </div>
            <div class="col-md-9">
                <h3>Choose a Numerical Variable Attribute</h3>
                <p>
                    The correlations selection analysis will apply a <a href="https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.pearsonr.html" target="_blank">Pearson correlation</a> between the selected numerical variable and the taxonomic group/OTU abundance for every taxonomic group/OTU. <br /><br />By default, the correlations are applied to all samples. You can restrict the correlations to a particular group (eg. only correlate the 'Control' samples) by applying a data filter.
                </p>
            </div>
        </div>
    </div>
    {% include 'notifications.html' %}
    {% include 'download_container.html' %}

    <div id="display-no-results" class="display-notification project-empty" style="display:none;">
        <div class="row">
            <div class="col-md-3">
                <i class="fa fa-exclamation-circle fa-4x"></i>
            </div>
            <div class="col-md-9">
                <h3>No taxonomic groups/OTUs were selected</h3>
                <p>
                    No taxonomic groups/OTUs had a non-zero coefficient in the selected model. Try adjusting the parameters to yield more results.
                </p>
            </div>
        </div>
    </div>

    <div id="analysis-container" class="analysis-container" style="display:none;">
        <div id="send-to-container" style="display:none;">
            <div id="machine-learning-alert" class="alert alert-info" role="alert"><strong>Tip </strong>Assess the performance of the selected features using a machine learning (ML) model. However, if doing so, <strong>make sure to perform feature selection using a training set</strong> in order to produce an unbiased predictive performance on a test set.</div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Train and test selected features with...</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default" type="button" id="send-to-lr">Linear Regressor</button>
                    <button class="btn btn-default" type="button" id="send-to-dnn">Deep Learning</button>
                </div>
            </div>
            <hr style="margin-bottom: 12px" />
        </div>

        <h4>Correlation Results with <span id="correlation-metadata"></span></h4>
        <table id="correlation-table" class="table table-hover">
            <thead>
                <tr>
                    <th>Taxonomic Group/OTU</th>
                    <th>Pearson Correlation Coefficient</th>
                    <th>P-Value</th>
                    <th>Q-Value (FDR-Corrected)</th>
                </tr>
            </thead>
            <tbody id="correlation-table-rows">
            </tbody>
        </table>
    </div><!-- /.container -->

    <div id="push" style="height:42px;"></div>
</div>
{% include 'footer-viz-d3v4.html' %}


<!-- Include custom JS here -->
<script src="/static/js/core.correlations.selection.js"></script>
<script src="/static/js/plugins/datatables.min.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
