<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Correlations - Mian</title>

    <link rel="stylesheet" href="/static/css/plugins/bootstrap-slider.min.css" type="text/css"/>
    <style>
    </style>
</head>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Correlations <a href="https://tbj128.gitbook.io/mian/scatterplot-correlation" target="_blank"><i class="fa fa-info-circle analysis-help" ></i></a></h3>

    {% include 'project_list.html' %}

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
                <h4 class="panel-title">
                    <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters"
                       aria-expanded="true" aria-controls="analysisParameters">
                        Visualization Parameters
                    </a>
                </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel"
                 aria-labelledby="headingAnalysisParameters">
                <div class="panel-body">

                    <div id="taxonomic-level">
                        <label id="taxonomic-level-label" class="control-label">Taxonomic Level <a href="https://tbj128.gitbook.io/mian/scatterplot-correlation#taxonomic-level" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                        <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                            <option value="Kingdom">Kingdom</option>
                            <option value="Phylum">Phylum</option>
                            <option value="Class">Class</option>
                            <option value="Order">Order</option>
                            <option value="Family">Family</option>
                            <option value="Genus">Genus</option>
                            <option value="Species">Species</option>
                            <option value="OTU" selected>OTU</option>
                        </select>
                    </div>

                    <hr/>

                    <label class="control-label">Correlation Variable 1 (X-Axis) <a href="https://tbj128.gitbook.io/mian/scatterplot-correlation#correlation-variable-1" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="corrvar1" name="corrvar1" class="form-control">
                    </select>

                    <div id="specific-taxonomy-container-1">
                        <label id="specific-taxonomy-label-1" class="control-label">OTUs and Taxonomic Groups to Show <i
                                class="fa fa-info-circle" data-toggle="popover"
                                data-title="Select OTUs and Taxonomic Groups"
                                data-content="Choose the OTUs or taxonomic groups whose abundance should be used in the correlation."
                                data-trigger="hover"></i></label>

                        <div id="taxonomy-specific-typeahead-wrapper-1">
                            <input id="specific-taxonomy-typeahead-1" type="text" data-background="" value=""/>
                        </div>
                    </div>

                    {% with typeahead_index=1 %}
                    {% include "container-gene-input.html" %}
                    {% endwith %}

                    <div id="alpha-diversity-container-1" style="display:none;">
                        <label class="control-label">Diversity Context <i class="fa fa-info-circle"
                                                                          data-toggle="popover"
                                                                          data-title="Diversity Context"
                                                                          data-content="<ul><li><strong>Alpha Diversity</strong> The diversity measure based on the diversity index above</li><li><strong>Evenness</strong> Pielou's evenness measure as calculated <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/diversity.html' target='_blank'>here</a></li><li><strong>OTU/Taxonomic Richness</strong> The number of unique species within each sample</li></ul>"></i></label>
                        <select id="alphaContext1" name="alphaContext1" class="form-control alpha-context">
                            <option value="alpha">Diversity Index</option>
                            <option value="evenness">Evenness</option>
                            <option value="speciesnumber">OTU/Taxonomic Richness</option>
                        </select>

                        <label class="control-label">Diversity Index <i class="fa fa-info-circle"
                                                                        data-toggle="popover"
                                                                        data-title="Diversity Index"
                                                                        data-content="Indicate the method by which the alpha diversity should be calculated. More information on the different diversity types can be found <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/diversity.html' target='_blank'>here</a><br /><br />Faith's Phylogenetic Diversity is a taxonomic richness analogue based on the phylogenetic tree"></i></label>
                        <select id="alphaType1" name="alphaType1" class="form-control alpha-type">
                            <option value="shannon">Shannon</option>
                            <option value="simpson">Simpson</option>
                            <option value="invsimpson">Inverse Simpson</option>
                            <option value="faith_pd">Faith's Phylogenetic Diversity</option>
                        </select>
                    </div>

                    <hr/>

                    <label class="control-label">Correlation Variable 2 (Y-Axis) <a href="https://tbj128.gitbook.io/mian/scatterplot-correlation#correlation-variable-2" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="corrvar2" name="corrvar2" class="form-control">
                    </select>

                    <div id="specific-taxonomy-container-2">
                        <label id="specific-taxonomy-label-2" class="control-label">OTUs and Taxonomic Groups to Show <i
                                class="fa fa-info-circle" data-toggle="popover"
                                data-title="Select OTUs and Taxonomic Groups"
                                data-content="Choose the OTUs or taxonomic groups whose abundance should be used in the correlation."
                                data-trigger="hover"></i></label>

                        <div id="taxonomy-specific-typeahead-wrapper-2">
                            <input id="specific-taxonomy-typeahead-2" type="text" data-background="" value=""/>
                        </div>
                    </div>

                    {% with typeahead_index=2 %}
                    {% include "container-gene-input.html" %}
                    {% endwith %}

                    <div id="alpha-diversity-container-2" style="display:none;">
                        <label class="control-label">Diversity Context <i class="fa fa-info-circle"
                                                                          data-toggle="popover"
                                                                          data-title="Diversity Context"
                                                                          data-content="<ul><li><strong>Alpha Diversity</strong> The diversity measure based on the diversity index above</li><li><strong>Evenness</strong> Pielou's evenness measure as calculated <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/diversity.html' target='_blank'>here</a></li><li><strong>OTU/Taxonomic Richness</strong> The number of unique species within each sample</li></ul>"></i></label>
                        <select id="alphaContext2" name="alphaContext2" class="form-control alpha-context">
                            <option value="alpha">Diversity Index</option>
                            <option value="evenness">Evenness</option>
                            <option value="speciesnumber">OTU/Taxonomic Richness</option>
                        </select>

                        <label class="control-label">Diversity Index <i class="fa fa-info-circle"
                                                                        data-toggle="popover"
                                                                        data-title="Diversity Index"
                                                                        data-content="Indicate the method by which the alpha diversity should be calculated. More information on the different diversity types can be found <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/diversity.html' target='_blank'>here</a><br /><br />Faith's Phylogenetic Diversity is a taxonomic richness analogue based on the phylogenetic tree"></i></label>
                        <select id="alphaType2" name="alphaType2" class="form-control alpha-type">
                            <option value="shannon">Shannon</option>
                            <option value="simpson">Simpson</option>
                            <option value="invsimpson">Inverse Simpson</option>
                            <option value="faith_pd">Faith's Phylogenetic Diversity</option>
                        </select>
                    </div>

                    <hr/>

                    <label class="control-label">Color Variable <a href="https://tbj128.gitbook.io/mian/scatterplot-correlation#color-variable" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="colorvar" name="colorvar" class="form-control">
                    </select>

                    <label class="control-label">Size Variable <a href="https://tbj128.gitbook.io/mian/scatterplot-correlation#size-variable" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="sizevar" name="sizevar" class="form-control">
                    </select>

                    <div id="alpha-diversity-container-3" style="display:none;">
                        <label class="control-label">Diversity Context (Size Variable) <i class="fa fa-info-circle"
                                                                          data-toggle="popover"
                                                                          data-title="Diversity Context"
                                                                          data-content="<ul><li><strong>Alpha Diversity</strong> The diversity measure based on the diversity index above</li><li><strong>Evenness</strong> Pielou's evenness measure as calculated <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/diversity.html' target='_blank'>here</a></li><li><strong>OTU/Taxonomic Richness</strong> The number of unique species within each sample</li></ul>"></i></label>
                        <select id="alphaContext3" name="alphaContext3" class="form-control alpha-context">
                            <option value="alpha">Diversity Index</option>
                            <option value="evenness">Evenness</option>
                            <option value="speciesnumber">OTU/Taxonomic Richness</option>
                        </select>

                        <label class="control-label">Diversity Index (Size Variable) <i class="fa fa-info-circle"
                                                                        data-toggle="popover"
                                                                        data-title="Diversity Index"
                                                                        data-content="Indicate the method by which the alpha diversity should be calculated. More information on the different diversity types can be found <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/diversity.html' target='_blank'>here</a><br /><br />Faith's Phylogenetic Diversity is a taxonomic richness analogue based on the phylogenetic tree"></i></label>
                        <select id="alphaType3" name="alphaType3" class="form-control alpha-type">
                            <option value="shannon">Shannon</option>
                            <option value="simpson">Simpson</option>
                            <option value="invsimpson">Inverse Simpson</option>
                            <option value="faith_pd">Faith's Phylogenetic Diversity</option>
                        </select>
                    </div>

                    <label class="control-label">Samples to Show <a href="https://tbj128.gitbook.io/mian/scatterplot-correlation#samples-to-show" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="samplestoshow" name="samplestoshow" class="form-control">
                        <option value="both">All Samples</option>
                        <option value="nonzero">Non-Zero Value Samples</option>
                        <option value="zero">Zero Value Samples</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    {% include 'notifications-error.html' %}
    <div id="display-no-results" class="display-notification project-empty" style="display:none;">
        <div class="row">
            <div class="col-md-3">
                <i class="fa fa-line-chart fa-4x"></i>
            </div>
            <div class="col-md-9">
                <h3>No Results Yet</h3>
                <h5>Start by adding a <strong>OTU, Taxonomic Group, or Gene</strong> for both the X and Y axes on the left</h5>
                <p>
                    No results could also happen if you have applied a too strict filter.
                </p>
                <p>
                    <a href="https://tbj128.gitbook.io/mian/scatterplot-correlation" target="_blank">How do I use this tool?</a>
                </p>
            </div>
        </div>
    </div>

    {% include 'download_container.html' %}

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
    </div><!-- /.container -->

    <div id="stats-container-scatterplot" class="analysis-container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Coefficient</th>
                <th>P-Value</th>
            </tr>
            </thead>
            <tbody id="stats-rows">
            <td id="stats-coef"></td>
            <td id="stats-pval"></td>
            </tbody>
        </table>
    </div><!-- /.container -->

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz-d3v4.html' %}


<!-- Include custom JS here -->
<script src="/static/js/plugins/bootstrap-slider.min.js"></script>
<script src="/static/js/core.shared.scatterplot.js"></script>
<script src="/static/js/core.correlations.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
