<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Correlations - mian</title>

    <link rel="stylesheet" href="static/css/plugins/bootstrap-slider.min.css" type="text/css"/>
    <style>
    </style>
</head>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Correlations <i class="fa fa-info-circle analysis-help" data-toggle="popover" data-title="Correlations" data-content="Draws a correlation graph between two metadata values and/or taxonomic abundances" data-trigger="hover"></i></h3>

    {% include 'project_list.html' %}

    <hr/>

    {% include 'filtering_options.html' %}

    <hr/>

    <h4>Visualization Parameters</h4>

    <label class="control-label">Correlation Variable 1 <i class="fa fa-info-circle" data-toggle="popover" data-title="Correlation Variable 1" data-content="Determines which correlation variable should be used on the X-axis<br /><br /><strong>Aggregated Abundances</strong> the sum of all OTU counts for a sample <br /><strong>Max Abundances</strong> the count of the most frequently occurring OTU for a sample"></i></label>
    <select id="corrvar1" name="corrvar1" class="form-control">
        <option value="mian-abundance">Aggregate Abundances</option>
        {% for catVar in numericCatVars %}
        <option value="{{ catVar }}">{{ catVar }}</option>
        {% endfor %}
    </select>

    <label class="control-label">Correlation Variable 2  <i class="fa fa-info-circle" data-toggle="popover" data-title="Correlation Variable 2" data-content="Determines which correlation variable should be used on the Y-axis<br /><br /><strong>Aggregated Abundances</strong> the sum of all OTU counts for a sample <br /><strong>Max Abundances</strong> the count of the most frequently occurring OTU for a sample"></i></label>
    <select id="corrvar2" name="corrvar2" class="form-control">
        <option value="mian-abundance">Aggregate Abundances</option>
        {% for catVar in numericCatVars %}
        <option value="{{ catVar }}">{{ catVar }}</option>
        {% endfor %}
    </select>

    <label class="control-label">Color Variable  <i class="fa fa-info-circle" data-toggle="popover" data-title="Color Variable" data-content="Determines which metadata parameter should control the color of the dots in the correlation"></i></label>
    <select id="colorvar" name="colorvar" class="form-control">
        <option value="">None</option>
        {% for catVar in catVars %}
        <option value="{{ catVar }}">{{ catVar }}</option>
        {% endfor %}
    </select>

    <label class="control-label">Size Variable  <i class="fa fa-info-circle" data-toggle="popover" data-title="Size Variable" data-content="Determines which metadata parameter should control the size of the dots in the correlation"></i></label>
    <select id="sizevar" name="sizevar" class="form-control">
        <option value="">None</option>
        {% for catVar in catVars %}
        <option value="{{ catVar }}">{{ catVar }}</option>
        {% endfor %}
    </select>

    <label class="control-label">Samples to Show  <i class="fa fa-info-circle" data-toggle="popover" data-title="Samples to Show" data-content="Determines which sample types should be displayed in the correlation graph"></i></label>
    <select id="samplestoshow" name="samplestoshow" class="form-control">
        <option value="both">All Samples</option>
        <option value="nonzero">Non-Zero Value Samples</option>
        <option value="zero">Zero Value Samples</option>
    </select>

    <div id="taxonomic-level" style="display:none;">
        <label id="taxonomic-level-label" class="control-label">Taxonomic Level <i class="fa fa-info-circle" data-toggle="popover" data-title="Taxonomic Level" data-content="The OTUs will be grouped together (by summing the OTU values) at the selected taxonomic level before the analysis is applied." data-trigger="hover"></i></label>
        <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
            <option value="Kingdom">Kingdom</option>
            <option value="Phylum">Phylum</option>
            <option value="Class">Class</option>
            <option value="Order">Order</option>
            <option value="Family">Family</option>
            <option value="Genus">Genus</option>
            <option value="Species">Species</option>
            <option value="OTU" selected>OTU</option>
        </select>
    </div>
</div>

<div class="content-wrapper">
    <div id="display-error" class="project-empty" style="display:none;">
        <i class="fa fa-exclamation-circle fa-4x"></i>
        <h3>Analysis cannot be performed with these parameters</h3>
        <h5>Try changing the parameters and try again</h5>
    </div>

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
    </div><!-- /.container -->

    <div id="stats-container" class="analysis-container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Coefficient</th>
                <th>P-Value</th>
            </tr>
            </thead>
            <tbody id="stats-rows">
            <td id="stats-coef"></td>
            <td id="stats-pval"></td>
            </tbody>
        </table>
    </div><!-- /.container -->

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz.html' %}


<!-- Include custom JS here -->
<script src="static/js/plugins/bootstrap-slider.min.js"></script>
<script src="static/js/core.correlations.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
