<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Correlations - Mian</title>

    <link rel="stylesheet" href="/static/css/plugins/bootstrap-slider.min.css" type="text/css"/>
    <style>
    </style>
</head>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Correlations <i class="fa fa-info-circle analysis-help" data-toggle="popover" data-title="Correlations" data-content="Draws a correlation graph between two metadata values and/or taxonomic abundances. Correlations use the Pearson correlation coefficient." data-trigger="hover"></i></h3>

    {% include 'project_list.html' %}

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                  Visualization Parameters
                </a>
              </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters">
              <div class="panel-body">

                <div id="taxonomic-level">
                    <label id="taxonomic-level-label" class="control-label">Taxonomic Level <i class="fa fa-info-circle" data-toggle="popover" data-title="Taxonomic Level" data-content="The OTUs will be grouped together (by summing the OTU values) at the selected taxonomic level before the analysis is applied." data-trigger="hover"></i></label>
                    <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                        <option value="Kingdom">Kingdom</option>
                        <option value="Phylum">Phylum</option>
                        <option value="Class">Class</option>
                        <option value="Order">Order</option>
                        <option value="Family">Family</option>
                        <option value="Genus">Genus</option>
                        <option value="Species">Species</option>
                        <option value="OTU" selected>OTU</option>
                    </select>
                </div>

                <hr />

                <label class="control-label">Correlation Variable 1 (X-Axis) <i class="fa fa-info-circle" data-toggle="popover" data-title="Correlation Variable 1" data-content="Determines which correlation variable should be used on the X-axis<br /><ul><li><strong>Taxonomy Abundance</strong> The sum of the specified OTU or taxonomic group abundance in each sample.</li><li><strong>Aggregate Abundance</strong> The total abundance of all OTUs within a sample</li><li><strong>Max</strong> The max of all OTUs within a sample</li></ul>"></i></label>
                <select id="corrvar1" name="corrvar1" class="form-control">
                </select>

                <div id="specific-taxonomy-container-1">
                    <label id="specific-taxonomy-label-1" class="control-label">OTUs and Taxonomic Groups to Show <i class="fa fa-info-circle" data-toggle="popover" data-title="Select OTUs and Taxonomic Groups" data-content="Choose the OTUs or taxonomic groups whose abundance should be used in the correlation." data-trigger="hover"></i></label>

                    <div id="taxonomy-specific-typeahead-wrapper-1">
                        <input id="specific-taxonomy-typeahead-1" type="text" data-background="" value="" />
                    </div>
                </div>

                <hr />

                <label class="control-label">Correlation Variable 2 (Y-Axis)  <i class="fa fa-info-circle" data-toggle="popover" data-title="Correlation Variable 2" data-content="Determines which correlation variable should be used on the Y-axis<br /><ul><li><strong>Taxonomy Abundance</strong> The sum of the specified OTU or taxonomic group abundance in each sample.</li><li><strong>Aggregate Abundance</strong> The total abundance of all OTUs within a sample</li><li><strong>Max</strong> The max of all OTUs within a sample</li></ul>"></i></label>
                <select id="corrvar2" name="corrvar2" class="form-control">
                </select>

                <div id="specific-taxonomy-container-2">
                    <label id="specific-taxonomy-label-2" class="control-label">OTUs and Taxonomic Groups to Show <i class="fa fa-info-circle" data-toggle="popover" data-title="Select OTUs and Taxonomic Groups" data-content="Choose the OTUs or taxonomic groups whose abundance should be used in the correlation." data-trigger="hover"></i></label>

                    <div id="taxonomy-specific-typeahead-wrapper-2">
                        <input id="specific-taxonomy-typeahead-2" type="text" data-background="" value="" />
                    </div>
                </div>

                <hr />

                <label class="control-label">Color Variable  <i class="fa fa-info-circle" data-toggle="popover" data-title="Color Variable" data-content="Determines which metadata parameter should control the color of the dots in the correlation"></i></label>
                <select id="colorvar" name="colorvar" class="form-control">
                </select>

                <label class="control-label">Size Variable  <i class="fa fa-info-circle" data-toggle="popover" data-title="Size Variable" data-content="Determines which metadata parameter should control the size of the dots in the correlation"></i></label>
                <select id="sizevar" name="sizevar" class="form-control">
                </select>

                <label class="control-label">Samples to Show  <i class="fa fa-info-circle" data-toggle="popover" data-title="Samples to Show" data-content="Determines which sample types should be displayed in the correlation graph"></i></label>
                <select id="samplestoshow" name="samplestoshow" class="form-control">
                    <option value="both">All Samples</option>
                    <option value="nonzero">Non-Zero Value Samples</option>
                    <option value="zero">Zero Value Samples</option>
                </select>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    {% include 'notifications-error.html' %}
    <div id="display-no-results" class="display-notification project-empty" style="display:none;">
        <div class="row">
            <div class="col-md-3">
                <i class="fa fa-asterisk fa-4x"></i>
            </div>
            <div class="col-md-9">
                <h3>Add a Taxonomic Group or OTU To Display</h3>
                <p>
                    No results were returned. This can happen if you have not added a taxonomic group or OTU (if the correlation variable is set to taxonomic abundance) or if you have applied a too strict filter.
                </p>
            </div>
        </div>
    </div>

    {% include 'download_container.html' %}

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
    </div><!-- /.container -->

    <div id="stats-container-scatterplot" class="analysis-container">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Coefficient</th>
                <th>P-Value</th>
            </tr>
            </thead>
            <tbody id="stats-rows">
            <td id="stats-coef"></td>
            <td id="stats-pval"></td>
            </tbody>
        </table>
    </div><!-- /.container -->

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz-d3v4.html' %}


<!-- Include custom JS here -->
<script src="/static/js/plugins/bootstrap-slider.min.js"></script>
<script src="/static/js/core.correlations.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
