<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
    <title>New Project - mian</title>
  </head>

  <body>

    <div class="alert alert-warning">
        <strong>Thanks for stopping by!</strong> Mian is still undergoing alpha testing so you may run into some bugs. You can help make Mian better by filing issues in <a href="https://github.com/tbj128/mian/issues" target="_blank">our Github repo</a> or by <a href="mailto:tom.jin@outlook.com" target="_blank">emailing us here</a>.
    </div>
    {% include 'navigation.html' %}
    {% include 'loading-bar-processing.html' %}

    <div id="welcome" class="container">
      <div class="section-heading project-heading">
          <h2><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;New Project</h2>
      </div>

      <div id="welcome-container" class="row welcome-container">
        <input type="text" class="form-control upload-name" id="inputName" name="inputName" placeholder="Project Name" required>
        <div class="help-block with-errors"></div>

        <div id="otu-upload-container">
          <div id="otu-table-upload-container" class="row upload-item">
            <div>
              <div class="col-md-10">
                <h3 style="margin-top:0px"><i class="fa fa-table"></i>&nbsp;&nbsp;Gene Table</h3>
                <p>CSV file with sample/group IDs across the top header and individual genes as rows (RPKM, FPKM, TPM). Accepted format shown below.</p>
                  <p>Example manually created OTU format: </p>
<pre><code>Gene,1a,1b,1c,1d, ...
Aaas,8.53,9.05,8.88,9.76, ...
Aacs,18.39,19.75,17.74,18.84, ...
...
</code></pre>
              </div>
              <div class="col-md-2 upload-status">
                <form id="otuTableForm" action="/upload" method="post" enctype="multipart/form-data">
                  <input type="hidden" name="category" value="otuTable" />
                  <span id="otuTableOK" style="display:none;font-size:24px;margin:0 20px 0 0;vertical-align: middle;"><i class="glyphicon glyphicon-ok"></i></span>
                  <span id="otuTableLoading" style="display:none;">
                    <i class="fa fa-spinner upload-loading"></i>
                  </span>
                  <span id="otuTableWrapper" class="btn btn-default btn-file">
                      <span id="otuTableText">Upload</span> <input type="file" name="upload" id="otuTable" accept=".csv" />
                  </span>
                </form>
              </div>
              <div style="clear:both"></div>
            </div>
          </div>

          <div id="sample-metadata-upload-container" class="row upload-item" >
            <div class="col-md-10">
              <h3 style="margin-top:0px"><i class="fa fa-info"></i>&nbsp;&nbsp;Sample Metadata</h3>
              <p>Tab-delimited file with each row representing an sample/group ID and its corresponding metadata. Example metadata:</p>
<pre><code>Sample	body_site	disease	...
1a	gut		Disease	...
1b	skin		Control	...
...
</code></pre>
            </div>
            <div class="col-md-2 upload-status">
              <form id="otuMetadataForm" action="/upload" method="post" enctype="multipart/form-data">
                <input type="hidden" name="category" value="otuMetadata" />
                <span id="otuMetadataOK" style="display:none;font-size:24px;margin:0 20px 0 0;vertical-align: middle;"><i class="glyphicon glyphicon-ok"></i></span>
                <span id="otuMetadataLoading" style="display:none;">
                  <i class="fa fa-spinner upload-loading"></i>
                </span>
                <span id="otuMetadataWrapper" class="btn btn-default btn-file">
                    <span id="otuMetadataText">Upload</span> <input type="file" name="upload" id="otuMetadata" accept=".txt,.tsv" />
                </span>
              </form>
            </div>
          </div>
        </div>
        <div class="row upload-item" style="background:none !important;box-shadow:none !important;text-align:center;padding-top:0px;padding-right:0px;">
          <form data-toggle="validator" method="POST" action="/create">
            <input type="hidden" id="projectName" name="projectName" value="" />
            <input type="hidden" id="projectUploadType" name="projectUploadType" value="otu" />
            <input type="hidden" id="projectOTUTableName" name="projectOTUTableName" value="" />
            <input type="hidden" id="projectSampleIDName" name="projectSampleIDName" value="" />
            <button id="upload-submit" type="submit" class="btn btn-primary" style="width:180px;" disabled>Create</button>
          </form>
        </div>
      </div>
    </div><!-- /.container -->

    {% include 'footer-full.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/core.upload.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="static/js/ie10-viewport-bug-workaround.js"></script>-->

  </body>
</html>
