<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Deep Neural Network - Machine Learning - Mian</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" rel="stylesheet">
</head>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="dnn-box" class="popup" style="display:none">
    <div id="dnn-content">
        <div class="row">
            <div class="col-md-12">
                <h3>Define Neural Network</h3>
            </div>
        </div>
        <hr class="with-padding" />

        <div id="dnn-layers"></div>

        <div class="row">
            <div class="col-md-12">
                <button id="dnn-add-layer" type="button" class="btn btn-default">+ Add Layer</button>
            </div>
        </div>

        <hr class="with-padding" />

        <div class="pull-right" role="group" style="margin-top:8px;">
            <button id="dnn-cancel" type="button" class="btn btn-default">Cancel</button>
            <button id="dnn-save" type="button" class="btn btn-primary">Save</button>
        </div>
    </div>
</div>
<div id="blackout" class="blackout" style="display:none"></div>


<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-th-large"></i>&nbsp;&nbsp;Deep Neural Network <i class="fa fa-info-circle" data-toggle="popover" data-title="Random Forest" data-content="Selects the important taxonomic items (features) that are used to select for the metadata value in a random forest<br /><br />This test relies on the RandomForestRegressor module in the Python 'scikit-learn' library <a href='http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html'>here</a>"></i></h3>

    {% include 'project_list.html' %}

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                  Analysis Parameters
                </a>
              </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters">
              <div class="panel-body">

                <label class="control-label">Taxonomic Level <i class="fa fa-info-circle" data-toggle="popover" data-title="Taxonomic Level" data-content="The OTUs will be grouped together (by summing the OTU values) at the selected taxonomic level before the analysis is applied." data-trigger="hover"></i></label>
                <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                    <option value="Kingdom">Kingdom</option>
                    <option value="Phylum">Phylum</option>
                    <option value="Class">Class</option>
                    <option value="Order">Order</option>
                    <option value="Family">Family</option>
                    <option value="Genus">Genus</option>
                    <option value="Species">Species</option>
                    <option value="OTU" selected>OTU</option>
                </select>

                <label class="control-label">Experimental Variable <i class="fa fa-info-circle" data-toggle="popover" data-title="Categorical Variable" data-content="Indicate which metadata should be used as the grouping variable" data-trigger="hover"></i></label>
                <select id="expvar" name="expvar" class="form-control">
                </select>

                <label class="control-label">Fix Training Set Between Changes <i class="fa fa-info-circle" data-toggle="popover" data-title="Categorical Variable" data-content="Indicate which metadata should be used as the grouping variable" data-trigger="hover"></i></label>
                <select id="fixTraining" name="fixTraining" class="form-control">
                    <option value="yes">Yes</option>
                    <option value="no" selected>No</option>
                </select>

                <label class="control-label">Dataset Training Proportion <i class="fa fa-info-circle" data-toggle="popover" data-title="P-Value Threshold" data-content="The threshold at which the p-value is deemed significant" data-trigger="hover"></i></label>
                <input class="form-control" id="trainingProportion" name="trainingProportion" type="number" value="0.7"/>

                <label class="control-label">Training Validation Proportion <i class="fa fa-info-circle" data-toggle="popover" data-title="P-Value Threshold" data-content="The threshold at which the p-value is deemed significant" data-trigger="hover"></i></label>
                <input class="form-control" id="validationProportion" name="validationProportion" type="number" value="0.3"/>

                <label class="control-label">Training Epochs  <i class="fa fa-info-circle" data-toggle="popover" data-title="Max Runs" data-content="The maximum number of runs the Boruta analysis should use" data-trigger="hover"></i></label>
                <input class="form-control" id="epochs" name="epochs" type="number" value="100"/>

                <label class="control-label">Problem Type <i class="fa fa-info-circle" data-toggle="popover" data-title="Taxonomic Level" data-content="The OTUs will be grouped together (by summing the OTU values) at the selected taxonomic level before the analysis is applied." data-trigger="hover"></i></label>
                <select id="problemType" name="problemType" class="form-control pad-bottom">
                    <option value="classification">Classification</option>
                    <option value="regression">Regression</option>
                </select>

                <div id="regressionMeasureContainer" style="display:none">
                    <label class="control-label">Measure <i class="fa fa-info-circle" data-toggle="popover" data-title="Measure" data-content="The measure used to assess the training and test performance of regression problems" data-trigger="hover"></i></label>
                    <select id="regressionMeasure" name="regressionMeasure" class="form-control pad-bottom">
                        <option value="mae">Mean Absolute Error</option>
                        <option value="mse">Mean Squared Error</option>
                    </select>
                </div>

                <div id="classificationMeasureContainer" style="display:none">
                    <label class="control-label">Measure <i class="fa fa-info-circle" data-toggle="popover" data-title="Measure" data-content="The measure used to assess the training and test performance of classification problems" data-trigger="hover"></i></label>
                    <select id="classificationMeasure" name="classificationMeasure" class="form-control pad-bottom">
                        <option value="accuracy">Accuracy</option>
                        <option value="loss">Cross-Entropy Loss</option>
                    </select>
                </div>

                <label class="control-label">
                    Layers: <i class="fa fa-info-circle" data-toggle="popover" data-title="P-Value Threshold" data-content="The threshold at which the p-value is deemed significant" data-trigger="hover"></i>
                    <a id="dnn-edit" href="javascript:void(0)">(Edit)</a>
                </label>
                <ul id="editor-layers">
                </ul>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div id="display-no-catvar" class="display-notification project-empty" style="display:none;">

        <div class="alert alert-warning" role="alert"><strong>Head's Up</strong> Deep learning methods are easy to overfit and are best suited when there are a lot of samples (> 100 samples).</div>

        <div class="row">
            <div class="col-md-3">
                <i class="fa fa-exclamation-circle fa-4x"></i>
            </div>
            <div class="col-md-9">
                <h3>Choose a Categorical Variable Attribute</h3>
                <p>
                    Create a random forest to selects the taxonomic groups/OTUs that can differentiate between the chosen categorical variable values. The weights of the taxonomic groups/OTUs the algorithm considers most important according to the <a href='https://cran.r-project.org/web/packages/Boruta/Boruta.pdf' target='_blank'>Boruta feature selection algorithm</a> or the <a href='https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html' target='_blank'>Random Forest regressor</a> will be displayed.
                </p>
            </div>
        </div>
    </div>
    {% include 'notifications.html' %}
    {% include 'download_container.html' %}

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
        <div class="row">
            <div class="col-md-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th id="test-error-measure"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="test-error-measure-val"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9">
                <div id="low-sample-warning" class="alert alert-warning" role="alert" style="display:none;"><strong>Not Enough Samples Warning </strong>Results here may be susceptible to overfitting and show high variation between runs</div>
            </div>
        </div>
		<canvas id="canvas"></canvas>
    </div><!-- /.container -->

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz-d3v4.html' %}


<!-- Include custom JS here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="/static/js/core.dnn.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
