<label class="control-label">Statistical Test  <i class="fa fa-info-circle" data-toggle="popover" data-title="Statistical Test" data-content="<ul><li><strong>Wilcoxon Rank-Sum</strong> A non-parametric test to test whether a randomly selected sample from one group will be different from a randomly selected sample from another group</li><li><strong>Welch's T-Test</strong> A parametric test to test whether two populations have equal means</li><li><strong>ANOVA</strong> A parametric test to test whether two populations have equal means</li></ul>"></i></label>
<select id="statisticalTest" name="statisticalTest" class="form-control">
    <option value="wilcoxon">Wilcoxon Rank-Sum (Non-Parametric)</option>
    <option value="ttest">Welch's T-Test (Parametric)</option>
    <option value="anova">ANOVA (Parametric)</option>
</select>
