
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
    <title>Reset Password - Mian: 16S rRNA data analysis, visualization, and feature selection tools</title>
  </head>

  <body>
    {% include 'navigation.html' %}

    <div class="content-wrapper" style="padding-top:24px">
      <div class="jumbotron" style="margin: 0 auto;width:540px;padding:36px;">
        <div class="container">
          <h2>Email Sent!</h2>
          <p>Check your email for the link to reset your password</p>
        </div>
      </div>

      <div id="push" style="height:42px;"></div>
    </div>

    {% include 'footer-full.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script>

    </script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

  </body>
</html>
