<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Generalized Linear Models - Feature Selection - Mian</title>
</head>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-th-large"></i>&nbsp;Generalized Linear Model <i class="fa fa-info-circle" data-toggle="popover" data-title="Glmnet" data-content="Selects the relevant features that predict the grouping metadata using Generalized Linear Models.<br /><br />This test relies on the R 'glmnet' package <a href='https://cran.r-project.org/web/packages/glmnet/glmnet.pdf' target='_blank'>here</a>" data-trigger="hover"></i></h3>

    {% include 'project_list.html' %}

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                  Analysis Parameters
                </a>
              </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters">
              <div class="panel-body">

                <label class="control-label">Taxonomic Level <i class="fa fa-info-circle" data-toggle="popover" data-title="Taxonomic Level" data-content="The OTUs will be grouped together (by summing the OTU values) at the selected taxonomic level before the analysis is applied." data-trigger="hover"></i></label>
                <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                    <option value="Kingdom">Kingdom</option>
                    <option value="Phylum">Phylum</option>
                    <option value="Class">Class</option>
                    <option value="Order">Order</option>
                    <option value="Family">Family</option>
                    <option value="Genus">Genus</option>
                    <option value="Species">Species</option>
                    <option value="OTU" selected>OTU</option>
                </select>

                <label class="control-label">Experimental Variable <i class="fa fa-info-circle" data-toggle="popover" data-html="true" data-title="Experimental Variable" data-content="Indicate which metadata attribute should be used as the response variable for the generalized linear model. Categorical metadata will default to using logistic models and numerical metadata will default to using linear models." data-trigger="hover"></i></label>
                <select id="expvar" name="expvar" class="form-control">
                </select>

                <label class="control-label">Model <i class="fa fa-info-circle" data-toggle="popover" data-title="Model" data-html="true" data-content="The model that should be applied to the dataset. <br /><ul><li><strong>Gaussian: </strong> Linear model assuming the normal distribution</li><li><strong>Poisson: </strong> Linear model assuming the Poisson distribution (non-negative values only)</li><li><strong>Binomial/Multinomial: </strong> Logistic model for categorical experimental variables</li></ul>"></i></label>
                <select id="model" name="model" class="form-control">
                </select>

                <label class="control-label">Ridge/Lasso Mixing Parameter <i class="fa fa-info-circle" data-toggle="popover" data-html="true" data-title="Alpha" data-content="The elastic net mixing parameter (α) that is between 0 and 1. Regularization is ridge (L2) when α = 0 and lasso (L1) when α = 1. Choose a value close to 1 if you want a sparser model. (See the R 'glmnet' package <a href='https://cran.r-project.org/web/packages/glmnet/glmnet.pdf'>here</a> for more details)"></i></label>
                <input class="form-control" id="alpha" name="alpha" type="number" value="0.5" max="1" min="0" />

                <label class="control-label">Lambda Threshold <i class="fa fa-info-circle" data-toggle="popover" data-html="true" data-title="Lambda" data-content="The regularization penalty that is chosen through cross-validation. 'lambda.1se' will use the lambda value that is within one standard error of the minimum cross-validated error. 'lambda.min' will use the lambda value that is at the minimum mean cross-validated error. (See the R 'glmnet' package <a href='https://cran.r-project.org/web/packages/glmnet/glmnet.pdf'>here</a> for more details)"></i></label>
                <select id="lambdathreshold" name="lambdathreshold" class="form-control">
                    <option value="lambda1se" selected>lambda.1se</option>
                    <option value="lambda">lambda.min</option>
                </select>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div id="display-no-catvar" class="display-notification project-empty" style="display:none;">
        <div class="row">
            <div class="col-md-3">
                <i class="fa fa-exclamation-circle fa-4x"></i>
            </div>
            <div class="col-md-9">
                <h3>Choose a Categorical Variable Attribute</h3>
                <p>
                    The glmnet algorithm will fit a lasso/elastic-net regularization path based on the selected category breakdown value label. This analysis will then select the most important taxonomic group/OTUs used within the model.
                </p>
            </div>
        </div>
    </div>
    <div id="display-poisson-error" class="display-notification project-empty" style="display:none;">
        <div class="row">
            <div class="col-md-3">
                <i class="fa fa-exclamation-circle fa-4x"></i>
            </div>
            <div class="col-md-9">
                <h3>Experimental Variable Has Negative Values</h3>
                <p>
                    The Poisson model does not allow negative values in the selected experimental variable attribute. Please try again with a different model.
                </p>
            </div>
        </div>
    </div>
    {% include 'notifications-error.html' %}
    {% include 'download_container.html' %}

    <div id="display-no-results" class="display-notification project-empty" style="display:none;">
        <div class="row">
            <div class="col-md-3">
                <i class="fa fa-exclamation-circle fa-4x"></i>
            </div>
            <div class="col-md-9">
                <h3>No taxonomic groups/OTUs were selected</h3>
                <p>
                    No taxonomic groups/OTUs had a non-zero coefficient in the selected model. Try adjusting the parameters to yield more results.
                </p>
            </div>
        </div>
    </div>

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
    </div><!-- /.container -->
    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz-d3v4.html' %}


<!-- Include custom JS here -->
<script src="/static/js/core.glmnet.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
