<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
    <title>Glmnet Feature Selection - mian</title>
  </head>

  <body>
    {% include 'navigation.html' %}
    {% include 'loading-bar.html' %}

    <div id="editor" class="editor">
      <h3><i class="fa fa-th-large"></i>&nbsp;Glmnet Feature Selection</h3>

      <label class="control-label">Project</label>
      <select id="project" name="project" class="form-control">
        {% for projectName in projectNames %}
          {% if projectName == currProject %}
            <option value="{{ projectName }}" selected>{{ projectName }}</option>
          {% else %}
            <option value="{{ projectName }}">{{ projectName }}</option>
          {% endif %}
        {% endfor %}
      </select>

      <hr />

      {% include 'filtering_options.html' %}

      <hr />

      <h4>Analysis Parameters</h4>

      <label class="control-label">Taxonomic Level</label>
      <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
        <option value="Kingdom">Kingdom</option>
        <option value="Phylum">Phylum</option>
        <option value="Class">Class</option>
        <option value="Order">Order</option>
        <option value="Family">Family</option>
        <option value="Genus">Genus</option>
        <option value="Species">Species</option>
        <option value="OTU" selected>OTU</option>
      </select>

      <label class="control-label">Categorical Variable</label>
      <select id="catvar" name="catvar" class="form-control">
        {% for catVar in catVars %}
          <option value="{{ catVar }}">{{ catVar }}</option>
        {% endfor %}
      </select>

      <label class="control-label">Taxa Exclusion Threshold (Keep >=)</label>
      <input class="form-control" id="keepthreshold" name="keepthreshold" type="number" value="5" />

      <label class="control-label">Alpha</label>
      <input class="form-control" id="alpha" name="alpha" type="number" value="0.5" />

      <label class="control-label">Family</label>
      <select id="family" name="family" class="form-control">
        <option value="binomial">Binomial</option>
        <option value="multinomial">Multinomial</option>
      </select>

      <label class="control-label">Lambda Threshold</label>
      <select id="lambdathreshold" name="lambdathreshold" class="form-control">
        <option value="lambda">lambda.min</option>
        <option value="lambda1se">lambda.1se</option>
        <option value="Custom" selected>Custom</option>
      </select>

      <label id="lambdatitle" class="control-label">Custom Lambda Threshold <br />(Exponential Factor)</label>
      <input class="form-control" id="lambdaval" name="lambdaval" type="number" value="-2" />
    </div>

    <div class="content-wrapper">
      <div id="analysis-container" class="analysis-container" style="min-height:500px;">
      </div><!-- /.container -->
      <div id="push" style="height:42px;"></div>
    </div>

    {% include 'footer-viz.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/d3.js"></script>
    <script src="static/js/core.shared.js"></script>
    <script src="static/js/core.glmnet.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="static/js/ie10-viewport-bug-workaround.js"></script>-->

  </body>
</html>
