<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Heatmap - Mian</title>
</head>

<style>

.analysis-container {
    width:100%;
    height:100%;
    margin-left: 360px;
    position: relative;
    z-index: 99;
}

.tooltip {
    position: absolute;
    padding: 8px;
    font-size: 12px;
    background-color: #ddd;
    border-radius: 4px;
    pointer-events: none;
}

</style>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-th-large"></i>&nbsp;&nbsp;Heatmap <i class="fa fa-info-circle analysis-help" data-toggle="popover" data-title="Heatmap" data-content="Generates a heatmap of the Pearson product-moment correlation matrix (grouped at the indicated taxonomic level).<br />Correlations are calculated across all samples - apply a sample filter if you wish to correlate only on specific groups of samples." data-trigger="hover"></i></h3>

    {% include 'project_list.html' %}

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                  Analysis Parameters
                </a>
              </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters">
              <div class="panel-body">
                    <label class="control-label">Taxonomic Level <i class="fa fa-info-circle" data-toggle="popover" data-title="Taxonomic Level" data-content="The OTUs will be grouped together (by summing the OTU values) at the selected taxonomic level before the analysis is applied." data-trigger="hover"></i></label>
                    <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                        <option value="Kingdom">Kingdom</option>
                        <option value="Phylum">Phylum</option>
                        <option value="Class">Class</option>
                        <option value="Order">Order</option>
                        <option value="Family">Family</option>
                        <option value="Genus">Genus</option>
                        <option value="Species">Species</option>
                        <option value="OTU" selected>OTU</option>
                    </select>

                    <label class="control-label">Correlation Variable 1 <i class="fa fa-info-circle" data-toggle="popover" data-title="Correlation Variable 1" data-content="Determines which variable should be used for correlations (on the X-axis)<br /><br /><strong>Taxonomy</strong> the counts of each taxonomic group <br /><strong>Sample Metadata</strong> the numeric metadata values from the uploaded sample metadata file"></i></label>
                    <select id="corrvar1" name="corrvar1" class="form-control">
                        <option value="Taxonomy">Taxonomy</option>
                        <option value="Metadata">Sample Metadata</option>
                    </select>

                    <label class="control-label">Correlation Variable 2 <i class="fa fa-info-circle" data-toggle="popover" data-title="Correlation Variable 2" data-content="Determines which variable should be used for correlations (on the Y-axis)<br /><br /><strong>Taxonomy</strong> the counts of each taxonomic group <br /><strong>Sample Metadata</strong> the numeric metadata values from the uploaded sample metadata file"></i></label>
                    <select id="corrvar2" name="corrvar2" class="form-control">
                        <option value="Taxonomy">Taxonomy</option>
                        <option value="Metadata">Sample Metadata</option>
                    </select>

                    <label class="control-label">Cluster <i class="fa fa-info-circle" data-toggle="popover" data-title="Apply Clustering?" data-content="Determines whether columns and rows that are highly correlated should be grouped close together in the heatmap"></i></label>
                    <select id="cluster" name="cluster" class="form-control">
                        <option value="Yes">Yes</option>
                        <option value="No">No (use original file order)</option>
                    </select>

                    <label class="control-label">Show Labels <i class="fa fa-info-circle" data-toggle="popover" data-title="Show Labels?" data-content="If the labels are hidden, the heatmap will be more compact"></i></label>
                    <select id="showlabels" name="showlabels" class="form-control">
                        <option value="all">Show All Lables</option>
                        <option value="x">Show X-Axis Labels Only</option>
                        <option value="y">Show Y-Axis Labels Only</option>
                        <option value="no">Hide Labels</option>
                    </select>

                    <label class="control-label">Min Number of Non-Zero Samples <i class="fa fa-info-circle" data-toggle="popover" data-title="Min Number of Non-Zero Samples" data-content="This is the minimum number of non-zero samples that the correlation variable needs to have to be included in the correlation matrix. This reduces noise from samples that do not contribute meaningfully because they mostly contain zero-values."></i></label>
                    <input class="form-control" id="minSamplesPresent" name="minSamplesPresent" type="number" value="3"/>

                    <label class="control-label">Color Scheme <i class="fa fa-info-circle" data-toggle="popover" data-title="Taxonomic Groups Axis" data-content="Choose to either show the taxonomic groups on the x-axis or the categorical variable"></i></label>
                    <select id="colorscheme" name="colorscheme" class="form-control pad-bottom">
                        <option value="blue">Blue</option>
                        <option value="rainbow">Rainbow</option>
                    </select>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    {% include 'notifications.html' %}
    {% include 'download_container.html' %}
    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
    </div><!-- /.container -->

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz-d3v4.html' %}

<!-- Include custom JS here -->
<script src="/static/js/plugins/pako.js"></script>
<script src="/static/js/core.shared.heatmap.js"></script>
<script src="/static/js/core.heatmap.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
