<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Correlation Heatmap - Mian</title>
</head>

<style>

.analysis-container {
    width:100%;
    height:100%;
    margin-left: 360px;
    position: relative;
    z-index: 99;
}

.tooltip {
    position: absolute;
    padding: 8px;
    font-size: 12px;
    background-color: #ddd;
    border-radius: 4px;
    pointer-events: none;
}

</style>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-th-large"></i>&nbsp;&nbsp;Correlation Heatmap <a href="https://tbj128.gitbook.io/mian/heatmap-correlation" target="_blank"><i class="fa fa-info-circle analysis-help" ></i></a></h3>

    {% include 'project_list.html' %}

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                  Analysis Parameters
                </a>
              </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters">
              <div class="panel-body">
                    <label class="control-label">Taxonomic Level <a href="https://tbj128.gitbook.io/mian/heatmap-correlation#taxonomic-level" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                        <option value="Kingdom">Kingdom</option>
                        <option value="Phylum">Phylum</option>
                        <option value="Class">Class</option>
                        <option value="Order">Order</option>
                        <option value="Family">Family</option>
                        <option value="Genus">Genus</option>
                        <option value="Species">Species</option>
                        <option value="OTU" selected>OTU</option>
                    </select>

                    <label class="control-label">Correlation Variable 1 (Columns) <a href="https://tbj128.gitbook.io/mian/heatmap-correlation#correlation-variable-1" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="corrvar1" name="corrvar1" class="form-control">
                        <option value="Taxonomy">Taxonomic Group or OTU</option>
                        <option value="Metadata">Sample Metadata</option>
                        <option value="Alpha">Alpha Diversity</option>
                    </select>

                    <div id="alpha-diversity-container-1" style="display:none;">
                        <label class="control-label">Diversity Context <i class="fa fa-info-circle"
                                                                          data-toggle="popover"
                                                                          data-title="Diversity Context"
                                                                          data-content="<ul><li><strong>Alpha Diversity</strong> The diversity measure based on the diversity index above</li><li><strong>Evenness</strong> Pielou's evenness measure as calculated <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/diversity.html' target='_blank'>here</a></li><li><strong>OTU/Taxonomic Richness</strong> The number of unique species within each sample</li></ul>"></i></label>
                        <select id="alphaContext1" name="alphaContext1" class="form-control alpha-context">
                            <option value="alpha">Diversity Index</option>
                            <option value="evenness">Evenness</option>
                            <option value="speciesnumber">OTU/Taxonomic Richness</option>
                        </select>

                        <label class="control-label">Diversity Index <i class="fa fa-info-circle"
                                                                        data-toggle="popover"
                                                                        data-title="Diversity Index"
                                                                        data-content="Indicate the method by which the alpha diversity should be calculated. More information on the different diversity types can be found <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/diversity.html' target='_blank'>here</a><br /><br />Faith's Phylogenetic Diversity is a taxonomic richness analogue based on the phylogenetic tree"></i></label>
                        <select id="alphaType1" name="alphaType1" class="form-control alpha-type">
                            <option value="shannon">Shannon</option>
                            <option value="simpson">Simpson</option>
                            <option value="invsimpson">Inverse Simpson</option>
                            <option value="faith_pd">Faith's Phylogenetic Diversity</option>
                        </select>
                    </div>


                    <label class="control-label">Correlation Variable 2 (Rows) <a href="https://tbj128.gitbook.io/mian/heatmap-correlation#correlation-variable-2" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="corrvar2" name="corrvar2" class="form-control">
                        <option value="Taxonomy">Taxonomic Group or OTU</option>
                        <option value="Metadata">Sample Metadata</option>
                        <option value="Alpha">Alpha Diversity</option>
                    </select>

                    <div id="alpha-diversity-container-2" style="display:none;">
                        <label class="control-label">Diversity Context <i class="fa fa-info-circle"
                                                                          data-toggle="popover"
                                                                          data-title="Diversity Context"
                                                                          data-content="<ul><li><strong>Alpha Diversity</strong> The diversity measure based on the diversity index above</li><li><strong>Evenness</strong> Pielou's evenness measure as calculated <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/diversity.html' target='_blank'>here</a></li><li><strong>OTU/Taxonomic Richness</strong> The number of unique species within each sample</li></ul>"></i></label>
                        <select id="alphaContext2" name="alphaContext2" class="form-control alpha-context">
                            <option value="alpha">Diversity Index</option>
                            <option value="evenness">Evenness</option>
                            <option value="speciesnumber">OTU/Taxonomic Richness</option>
                        </select>

                        <label class="control-label">Diversity Index <i class="fa fa-info-circle"
                                                                        data-toggle="popover"
                                                                        data-title="Diversity Index"
                                                                        data-content="Indicate the method by which the alpha diversity should be calculated. More information on the different diversity types can be found <a href='http://cc.oulu.fi/~jarioksa/softhelp/vegan/html/diversity.html' target='_blank'>here</a><br /><br />Faith's Phylogenetic Diversity is a taxonomic richness analogue based on the phylogenetic tree"></i></label>
                        <select id="alphaType2" name="alphaType2" class="form-control alpha-type">
                            <option value="shannon">Shannon</option>
                            <option value="simpson">Simpson</option>
                            <option value="invsimpson">Inverse Simpson</option>
                            <option value="faith_pd">Faith's Phylogenetic Diversity</option>
                        </select>
                    </div>

                    <label class="control-label">Correlation Method <a href="https://tbj128.gitbook.io/mian/heatmap-correlation#correlation-method" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="corrMethod" name="corrMethod" class="form-control">
                        <option value="pearson">Pearson</option>
                        <option value="spearman">Spearman</option>
                    </select>

                    <label class="control-label">Cluster <a href="https://tbj128.gitbook.io/mian/heatmap-correlation#cluster" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="cluster" name="cluster" class="form-control">
                        <option value="Yes">Yes</option>
                        <option value="No">No (use original file order)</option>
                    </select>

                    <label class="control-label">Show Labels <a href="https://tbj128.gitbook.io/mian/heatmap-correlation#show-labels" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="showlabels" name="showlabels" class="form-control">
                        <option value="all">Show All Lables</option>
                        <option value="x">Show X-Axis Labels Only</option>
                        <option value="y">Show Y-Axis Labels Only</option>
                        <option value="no">Hide Labels</option>
                    </select>

                    <label class="control-label">Min Number of Non-Zero Samples <a href="https://tbj128.gitbook.io/mian/heatmap-correlation#min-number-of-non-zero-samples" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <input class="form-control" id="minSamplesPresent" name="minSamplesPresent" type="number" value="3"/>

                    <label class="control-label">Color Scheme <a href="https://tbj128.gitbook.io/mian/heatmap-correlation#color-scheme" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="colorscheme" name="colorscheme" class="form-control pad-bottom">
                        <option value="blue">Blue</option>
                        <option value="rainbow">Rainbow</option>
                    </select>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    {% include 'notifications.html' %}
    {% include 'download_container.html' %}
    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
    </div><!-- /.container -->

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz-d3v4.html' %}

<!-- Include custom JS here -->
<script src="/static/js/plugins/pako.js"></script>
<script src="/static/js/core.shared.heatmap.js"></script>
<script src="/static/js/core.heatmap.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
