<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'header.html' %}
    <title>Linear Classifier - Machine Learning - Mian</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" rel="stylesheet">
</head>

<body>
    {% include 'navigation.html' %} {% include 'loading-bar.html' %}

    <div id="editor" class="editor">
        <h3 class="pad-sides pad-top"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Linear Classifier <a href="https://tbj128.gitbook.io/mian/linear-classifier" target="_blank"><i class="fa fa-info-circle analysis-help" ></i></a></h3>

        {% include 'project_list.html' %}

        <hr/>

        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            {% include 'filtering_options.html' %}

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingAnalysisParameters">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                          Analysis Parameters
                        </a>
                    </h4>
                </div>
                <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters">
                    <div class="panel-body">

                        <label class="control-label">Taxonomic Level <a href="https://tbj128.gitbook.io/mian/linear-classifier#taxonomic-level" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                        <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                            <option value="Kingdom">Kingdom</option>
                            <option value="Phylum">Phylum</option>
                            <option value="Class">Class</option>
                            <option value="Order">Order</option>
                            <option value="Family">Family</option>
                            <option value="Genus">Genus</option>
                            <option value="Species">Species</option>
                            <option value="OTU" selected>OTU</option>
                        </select>

                        <label class="control-label">Categorical Variable <a href="https://tbj128.gitbook.io/mian/linear-classifier#categorical-variable" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                        <select id="catvar" name="catvar" class="form-control">
                        </select>

                        <label class="control-label">Loss Function <a href="https://tbj128.gitbook.io/mian/linear-classifier#loss-function" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                        <select id="lossFunction" name="lossFunction" class="form-control">
                            <option value="hinge" selected>Hinge (Linear SVM)</option>
                            <option value="log">Log (Logistic)</option>
                            <option value="modified_huber">Huber</option>
                            <option value="squared_hinge">Squared Hinge</option>
                            <option value="perceptron">Perceptron</option>
                        </select>

                        <label class="control-label">Evaluation Method <a href="https://tbj128.gitbook.io/mian/linear-classifier#evaluation-method" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                        <select id="crossValidate" name="crossValidate" class="form-control">
                            <option value="train">Train/Test Split</option>
                            <option value="full">Cross-Validation on Full Dataset</option>
                        </select>

                        <div id="cvFolds" style="display:none;">
                            <label class="control-label">Cross-Validation Folds <a href="https://tbj128.gitbook.io/mian/linear-classifier#cross-validation-folds" target="_blank"></a></label>
                            <input class="form-control" id="crossValidateFolds" name="crossValidateFolds" type="number" value="3" />
                        </div>


                        <div id="trainingConfig">
                            <label class="control-label">Freeze Training Set Between Changes <a href="https://tbj128.gitbook.io/mian/linear-classifier#freeze-training-set-between-changes" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                            <select id="fixTraining" name="fixTraining" class="form-control">
                                <option value="yes">Yes</option>
                                <option value="no" selected>No</option>
                            </select>

                            <label class="control-label">Training Proportion <a href="https://tbj128.gitbook.io/mian/linear-classifier#training-proportion" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                            <input class="form-control" id="trainingProportion" name="trainingProportion" type="number" value="0.7" />
                        </div>

                        <label class="control-label">L1 Regularization Ratio  <a href="https://tbj128.gitbook.io/mian/linear-classifier#l1-regularization-ratio" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                        <input class="form-control" id="mixingRatio" name="mixingRatio" type="number" value="0.5"/>

                        <label class="control-label">Max Epochs  <a href="https://tbj128.gitbook.io/mian/linear-classifier#max-epochs" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                        <input class="form-control" id="maxIterations" name="maxIterations" type="number" value="100"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div id="display-no-catvar" class="display-notification project-empty" style="display:none;">
            <div class="row">
                <div class="col-md-3">
                    <i class="fa fa-table fa-4x"></i>
                </div>
                <div class="col-md-9">
                    <h3>No Results Yet</h3>
                    <h5>Start by adding a <strong>Categorical Variable</strong> on the left</h5>
                    <p>
                        <a href="https://tbj128.gitbook.io/mian/linear-classifier" target="_blank">How do I use this tool?</a>
                    </p>
                </div>
            </div>
        </div>
        {% include 'notifications.html' %} {% include 'download_container.html' %}

        <div id="analysis-container" class="analysis-container" style="min-height:500px;">
            <div id="referral-alert" class="alert alert-success" role="alert" style="display:none;">
                <strong>Feature Selection </strong>A random forest classifier is being built using features selected by the <strong><span id="referer-name"></span></strong> feature selection module
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cross-Validation Accuracy</th>
                        <th scope="col">Training Accuracy</th>
                        <th scope="col">Test Accuracy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="cv-accuracy"></td>
                        <td id="train-accuracy"></td>
                        <td id="test-accuracy"></td>
                    </tr>
                </tbody>
            </table>
            <div id="training-plot-container">
                <hr />
                <h4>Training/Test Plot</h4>
                <canvas id="canvas"></canvas>
            </div>
            <hr />
            <h4>ROC Curve (<span id="roc-curve-type"></span>)</h4>
            <canvas id="canvas-roc"></canvas>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Label</th>
                        <th scope="col">Area Under the Curve (AUC)</th>
                    </tr>
                </thead>
                <tbody id="auc-rows">
                </tbody>
            </table>
        </div>
        <!-- /.container -->

        <div id="push" style="height:42px;"></div>
    </div>

    {% include 'footer-viz-d3v4.html' %}

    <!-- Include custom JS here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="/static/js/palette.js"></script>
    <script src="/static/js/core.linearclassifier.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>

</html>