<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Linear Regression - Machine Learning - Mian</title>
</head>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Linear Regressor <a href="https://tbj128.gitbook.io/mian/linear-regressor" target="_blank"><i class="fa fa-info-circle analysis-help" ></i></a></h3>

    {% include 'project_list.html' %}

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                  Analysis Parameters
                </a>
              </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters">
              <div class="panel-body">

                <label class="control-label">Taxonomic Level <a href="https://tbj128.gitbook.io/mian/linear-regressor#taxonomic-level" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                    <option value="Kingdom">Kingdom</option>
                    <option value="Phylum">Phylum</option>
                    <option value="Class">Class</option>
                    <option value="Order">Order</option>
                    <option value="Family">Family</option>
                    <option value="Genus">Genus</option>
                    <option value="Species">Species</option>
                    <option value="OTU" selected>OTU</option>
                </select>

                <label class="control-label">Experimental Variable <a href="https://tbj128.gitbook.io/mian/linear-regressor#experimental-variable" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="expvar" name="expvar" class="form-control">
                </select>

                <label class="control-label">Evaluation Method <a href="https://tbj128.gitbook.io/mian/linear-regressor#evaluation-method" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="crossValidate" name="crossValidate" class="form-control">
                    <option value="train">Train/Test Split</option>
                    <option value="full">Cross-Validation on Full Dataset</option>
                </select>

                <div id="cvFolds" style="display:none;">
                    <label class="control-label">Cross-Validation Folds <a href="https://tbj128.gitbook.io/mian/linear-regressor#cross-validation-folds" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <input class="form-control" id="crossValidateFolds" name="crossValidateFolds" type="number" value="3" />
                </div>

                <div id="trainingConfig" style="display:none;">
                    <label class="control-label">Freeze Training Set Between Changes <a href="https://tbj128.gitbook.io/mian/linear-regressor#freeze-training-set-between-changes" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="fixTraining" name="fixTraining" class="form-control">
                        <option value="yes">Yes</option>
                        <option value="no" selected>No</option>
                    </select>

                    <label class="control-label">Training Proportion <a href="https://tbj128.gitbook.io/mian/linear-regressor#training-proportion" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <input class="form-control" id="trainingProportion" name="trainingProportion" type="number" value="0.7" />
                </div>

                <label class="control-label">L1 Regularization Ratio  <a href="https://tbj128.gitbook.io/mian/linear-regressor#l1-regularization-ratio" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <input class="form-control" id="mixingRatio" name="mixingRatio" type="number" value="0.5"/>

                <label class="control-label">Max Epochs  <a href="https://tbj128.gitbook.io/mian/linear-regressor#max-epochs" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <input class="form-control" id="maxIterations" name="maxIterations" type="number" value="100"/>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div id="display-no-catvar" class="display-notification project-empty" style="display:none;">
        <div class="row">
            <div class="col-md-3">
                <i class="fa fa-exclamation-circle fa-4x"></i>
            </div>
            <div class="col-md-9">
                <h3>Choose a Categorical Variable Attribute</h3>
                <p>
                    Create a random forest to selects the taxonomic groups/OTUs that can differentiate between the chosen categorical variable values. The weights of the taxonomic groups/OTUs the algorithm considers most important according to the <a href='https://cran.r-project.org/web/packages/Boruta/Boruta.pdf' target='_blank'>Boruta feature selection algorithm</a> or the <a href='https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html' target='_blank'>Random Forest regressor</a> will be displayed.
                </p>
            </div>
        </div>
    </div>
    {% include 'notifications.html' %}
    {% include 'download_container.html' %}

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
        <div id="referral-alert" class="alert alert-success" role="alert" style="display:none;">
            <strong>Feature Selection </strong>A random forest classifier is being built using features selected by the <strong><span id="referer-name"></span></strong> feature selection module
        </div>
		<table class="table">
            <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Mean Absolute Error</th>
                  <th scope="col">Mean Squared Error</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Training</th>
                    <td id="train-mae"></td>
                    <td id="train-mse"></td>
                </tr>
                <tr>
                    <th scope="row">Cross-Validation Testing</th>
                    <td id="cv-mae"></td>
                    <td id="cv-mse"></td>
                </tr>
                <tr>
                    <th scope="row">Testing</th>
                    <td id="test-mae"></td>
                    <td id="test-mse"></td>
                </tr>
            </tbody>
        </table>
        <hr/>

        <div id="training-plot-container">
            <hr />
            <h4>Training/Test Plot</h4>
            <canvas id="canvas"></canvas>
        </div>
    </div><!-- /.container -->

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz-d3v4.html' %}


<!-- Include custom JS here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="/static/js/palette.js"></script>
<script src="/static/js/core.linearregression.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
