<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img alt="mian" src="static/img/mian_logo_small.png" /></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Visualize <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="boxplots">Boxplots</a></li>
            <li><a class="nav-link" href="composition">Composition</a></li>
            <li><a class="nav-link" href="correlations">Simple Correlation</a></li>
            <li><a class="nav-link" href="correlation_network">Correlation Network</a></li>
            <li><a class="nav-link" href="nmds">NMDS</a></li>
            <li><a class="nav-link" href="pca">PCA</a></li>
            <li><a class="nav-link" href="rarefaction">Rarefaction Curves</a></li>
            <li><a class="nav-link" href="tree">Tree</a></li>
            <li><a class="nav-link" href="table">Table</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Diversity <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="alpha_diversity">Alpha Diversity</a></li>
            <li><a class="nav-link" href="beta_diversity">Beta Diversity</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stats <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="random_forest">Random Forest</a></li>
            <li><a class="nav-link" href="boruta">Boruta Feature Selection</a></li>
            <li><a class="nav-link" href="glmnet">GLM/ElasticNet</a></li>
            <li><a class="nav-link" href="fisher_exact">Fisher Exact Test</a></li>
            <li><a class="nav-link" href="enriched_selection">Enriched Selection</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">
        {% if current_user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ current_user.name }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="logout">Logout</a></li>
            </ul>
          </li>
        {% else %}
          <!--<li><a href="login" class="btn btn-default" style="margin-top: 6px;padding-top: 8px;padding-bottom: 8px;">Login</a></li>-->
          <li><a href="login">Login</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>