<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>NMDS - Mian</title>


    <link rel="stylesheet" href="/static/css/plugins/bootstrap-slider.min.css" type="text/css"/>
    <style>
      .line-chart .axis path,
      .line-chart .axis line {
        fill: none;
        stroke: #3c3c3c;
        shape-rendering: crispEdges;
      }

      .line-chart .line {
        fill: none;
        stroke: #0e4993;
        stroke-width: 2px;
      }

      .nmds .dot {
        stroke: none !important;
      }

      .slider-horizontal {
        width: 300px !important;
        margin-left: 10px;
        margin-top: 4px;
      }

    </style>
</head>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;NMDS <i class="fa fa-info-circle" data-toggle="popover" data-title="NMDS" data-content="Performs non-metric multidimensional scaling at the selected taxonomic level<br /><br />NMDS tries to represent the original data in a 2D reduced dimensional space. This analysis utilizes the <a href='http://scikit-learn.org/stable/modules/generated/sklearn.manifold.MDS.html' target='_blank'>scikit-learn package</a>"></i></h3>

    {% include 'project_list.html' %}
    <hr/>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                  Visualization Parameters
                </a>
              </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters">
              <div class="panel-body">

                <label class="control-label">Taxonomic Level <i class="fa fa-info-circle" data-toggle="popover" data-title="Taxonomic Level" data-content="The OTUs will be grouped together (by summing the OTU values) at the selected taxonomic level before the analysis is applied." data-trigger="hover"></i></label>
                <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                    <option value="Kingdom">Kingdom</option>
                    <option value="Phylum">Phylum</option>
                    <option value="Class">Class</option>
                    <option value="Order">Order</option>
                    <option value="Family">Family</option>
                    <option value="Genus">Genus</option>
                    <option value="Species">Species</option>
                    <option value="OTU" selected>OTU</option>
                </select>

                <select style="display:none;" id="taxonomy-specific" name="taxonomy-specific" class="form-control pad-bottom"
                        multiple="multiple">
                </select>

                <label class="control-label">Categorical Variable <i class="fa fa-info-circle" data-toggle="popover" data-title="Categorical Variable" data-content="Indicate which metadata should be used as the grouping variable" data-trigger="hover"></i></label>
                <select id="catvar" name="catvar" class="form-control">
                </select>

                <label class="control-label">Distance Metric <i class="fa fa-info-circle" data-toggle="popover" data-title="Dissimilarity Distance" data-content="Choose to show either a 2D plot or a 3D plot"></i></label>
                <select id="type" name="type" class="form-control">
                    <option value="braycurtis">Bray-Curtis</option>
                    <option value="jaccard">Jaccard</option>
                    <option value="weighted_unifrac">Weighted Unifrac</option>
                    <option value="unweighted_unifrac">Unweighted Unifrac</option>
                    <option value="euclidean">Euclidean</option>
                </select>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div id="display-no-tree" class="display-notification project-empty" style="display:none;">
        <div class="row">
            <div class="col-md-3">
                <i class="fa fa-exclamation-circle fa-4x"></i>
            </div>
            <div class="col-md-9">
                <h3>No Phylogenetic Tree For This Project</h3>
                <p>
                    The Unifrac distance metric requires a phylogenetic tree with the OTUs as the leaf nodes. Create a new project with a phylogenetic tree and try again. This tree can be generated in OTU picking pipelines <a href="http://qiime.org/scripts/make_phylogeny.html">like Qiime</a>.
                </p>
            </div>
        </div>
    </div>
    {% include 'notifications.html' %}
    {% include 'download_container.html' %}

    <div id="analysis-container" class="analysis-container nmds" style="min-height:500px;">
    </div><!-- /.container -->

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz-d3v4.html' %}

<!-- Include custom JS here -->
<script src="/static/js/plugins/bootstrap-slider.min.js"></script>
<script src="/static/js/core.nmds.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
