<div id="display-error" class="display-notification project-empty" style="display:none;">
    <i class="fa fa-exclamation-circle fa-4x"></i>
    <h3>Analysis cannot be performed with these parameters</h3>
    <h5>Try changing the parameters and trying again</h5>
</div>
<div id="display-no-results" class="display-notification project-empty" style="display:none;">
    <i class="fa fa-exclamation-circle fa-4x"></i>
    <h3>No Results</h3>
    <h5>
        No taxonomies/OTUs were selected by the analysis. Try adjusting the thresholds and parameters to yield more results.
    </h5>
</div>