

{% include 'notifications-error.html' %}

<div id="display-no-results" class="display-notification project-empty" style="display:none;">
    <div class="row">
        <div class="col-md-3">
            <i class="fa fa-exclamation-circle fa-4x"></i>
        </div>
        <div class="col-md-9">
            <h3>No results returned</h3>
            <p>
                No taxonomic groups/OTUs were considered by the analysis. Try adjusting the parameters to yield more results.
            </p>
        </div>
    </div>
</div>

<div id="display-no-tree" class="display-notification project-empty" style="display:none;">
    <div class="row">
        <div class="col-md-3">
            <i class="fa fa-code-fork fa-4x"></i>
        </div>
        <div class="col-md-9">
            <h3>No Phylogenetic Tree For This Project</h3>
            <p>
                The Unifrac distance metric and Faith's Phylogenetic Diversity index requires a phylogenetic tree with the OTUs as the leaf nodes. Create a new project with a phylogenetic tree and try again. This tree can be generated in OTU picking pipelines <a href="http://qiime.org/scripts/make_phylogeny.html">like Qiime</a>.
            </p>
        </div>
    </div>
</div>

<div id="display-float-data" class="display-notification project-empty" style="display:none;">
    <div class="row">
        <div class="col-md-3">
            <i class="fa fa-exclamation-circle fa-4x"></i>
        </div>
        <div class="col-md-9">
            <h3>OTU Data Contains Non-Integers</h3>
            <p>
                The requested analysis cannot be performed because the OTU data contains non-integer values. Please create a new project with an OTU table that only contains integer values (no decimal/float values).
            </p>
        </div>
    </div>
</div>