<div id="display-error" class="display-notification project-empty" style="display:none;">
    <div class="row">
        <div class="col-md-3">
            <i class="fa fa-exclamation-circle fa-4x"></i>
        </div>
        <div class="col-md-9">
            <h3 id="display-error-details-title">Analysis cannot be performed with these parameters</h3>
            <p>
                <span id="display-error-details"></span>Change the parameters and try again
            </p>
        </div>
    </div>
</div>

<div id="display-no-genes" class="display-notification project-empty" style="display:none;">
    <div class="row">
        <div class="col-md-3">
            <i class="fa fa-exclamation-circle fa-4x"></i>
        </div>
        <div class="col-md-9">
            <h3>No Gene Expression Data</h3>
            <p>
                This project does not have any associated gene expression data set. If you want to use this feature, please create a new project with a gene expression data set.
            </p>
        </div>
    </div>
</div>
