<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
    <title>Projects - Mian</title>
    <style>
      .blackout {
        opacity: .5;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
      }

      .change-box {
        position: fixed;
        top: 80px;
        left:50%;
        width:400px;
        padding:42px;
        margin-left:-200px;
        z-index: 1042;
        background:#FFF;
        border-radius: 6px;
      }
    </style>
  </head>

  <body>

    <div class="alert alert-warning">
      <strong>Thanks for stopping by!</strong> Mian is still undergoing alpha testing so you may run into some bugs. You can help make Mian better by filing issues in <a href="https://github.com/tbj128/mian/issues" target="_blank">our Github repo</a> or by <a href="mailto:tom.jin@outlook.com" target="_blank">emailing us here</a>.
    </div>
    {% include 'navigation.html' %}
    {% include 'loading-bar-processing.html' %}

    {% if demo %}
    <div class="alert alert-info">
      <strong>Demo Mode</strong> Try analysing the sample COPD dataset by using the different tools in the dropdown menu above. Datasets created in the demo account may be deleted at any time. <br />Want a permanent space? <a href="logout?signup=1">Create an account today</a>
    </div>
    {% endif %}

    {% if newSignup %}
    <div class="alert alert-success">
      <strong>Welcome!</strong> Start by creating a new project below. 
    </div>
    {% endif %}

    {% if not demo and projectNames|length > 0 and status == "" %}
      <div class="alert alert-info">
        Access the different data analysis tools using the dropdown menu above
      </div>
    {% endif %}

    {% if status == "-1" %}
    <div class="alert alert-danger">
      <strong>Oh no!</strong> Something went wrong - please double check your input formats and try again</a>
    </div>
    {% endif %}

    {% if status == "-2" %}
    <div class="alert alert-danger">
      <strong>Invalid BIOM File</strong> Make sure your BIOM file includes both the <a href="http://biom-format.org/documentation/adding_metadata.html" target="_blank">sample and observation metadata</a>
    </div>
    {% endif %}

    {% if status == "-3" %}
    <div class="alert alert-danger">
      <strong>Invalid OTU Table</strong> Make sure your OTU table format is correct (ie. each column is an OTU and each row is a sample) and try again
    </div>
    {% endif %}

    {% if status == "-4" %}
    <div class="alert alert-danger">
      <strong>Invalid Taxonomy File</strong> Make sure your taxonomy file format is correct and try again
    </div>
    {% endif %}

    {% if status == "-5" %}
    <div class="alert alert-danger">
      <strong>Invalid Sample Metadata File</strong> Make sure your sample metadata format is correct and try again
    </div>
    {% endif %}

    {% if status == "-6" %}
    <div class="alert alert-danger">
      <strong>Missing OTU(s) in Taxonomy</strong> The following OTUs in the OTU table do not have a corresponding entry in the taxonomy file: {{message}}
    </div>
    {% endif %}

    {% if status == "-7" %}
    <div class="alert alert-danger">
      <strong>Missing Sample ID(s)</strong> The following sample IDs in the OTU table do not have a corresponding entry in the sample metadata file: {{message}}
    </div>
    {% endif %}

    {% if status == "-8" %}
    <div class="alert alert-danger">
      <strong>Invalid OTU Data Type</strong> The OTU table contains values which are not integers or float. Please double check and try again.
    </div>
    {% endif %}

    <div id="otu-table-modified" class="message message-success" style="display:none;">
      <strong>Success</strong> Your changes have been successfully applied.
    </div>

    <div id="otu-table-modified-error" class="message message-danger" style="display:none;">
      <strong>Error</strong> Your changes were unable to be applied.
    </div>

    <div id="change-box" class="change-box" style="display:none;">
      <h3>Modify Subsampling</h3>
      <input style="width:50%;" class="form-control" id="change-subsampling" name="change-subsampling" type="number" value="1020" />
      <div class="btn-group" role="group" style="margin-top:8px;">
        <button type="button" class="btn btn-default change-cancel">Cancel</button>
        <button type="button" class="btn btn-primary change-confirm" >Change</button>
      </div>
      <hr />
      <h4>Other Options</h4>
      <button type="button" class="btn btn-default change-auto">Auto Subsampling</button>
      <button type="button" class="btn btn-default change-reset" >Reset</button>
      <a id="change-close" href="javascript:void(0);" style="position:absolute; top:18px; right:20px;cursor:pointer;font-size:24px;text-decoration:none;">&times;</a>
    </div>
    <div id="blackout" class="blackout" style="display:none;"></div>

    <div class="content-wrapper">
      <div class="container project-container">
        <div class="section-heading project-heading">
            <h2><i class="fa fa-folder"></i>&nbsp;&nbsp;Projects</h2>
        </div>
        <div class="row">
          <div class="col-md-2">
            <a href="create" class="btn btn-primary project-new">New Project</a>
          </div>
          <div class="col-md-10 project-main">
            {% if projectNames|length == 0 %}
              <div class="project-empty">
                <i class="fa fa-folder-o fa-4x"></i>
                <h3>No projects yet</h3>
                <p><small><a href="#" class="add-example-project"><i class="fa fa-plus"></i> Add an example project</a></small></p>
              </div>
            {% else %}
              {% for projectName in projectNames %}
                {% if projectNames[projectName]["project_type"] == "biom" %}
                  <div class="project-item" id="p-{{ projectNames[projectName]["pid"] }}">
                  <h4>{{ projectNames[projectName]["project_name"] }}</h4>
                  {% if not (demo and projectNames[projectName]["project_name"] == "COPD Example Project") %}
                  <a title="Delete this project" href="javascript:void(0);" data-project="{{ projectNames[projectName]['pid'] }}" data-projectname="{{ projectNames[projectName]['project_name'] }}" class="project-delete"><i class="fa fa-trash"></i></a>
                  {% endif %}
                  <table class="table table-hover" style="table-layout:fixed;">
                    <tbody>
                      <tr>
                        <th scope="row" class="project-fn col-md-5">{{ projectNames[projectName]["orig_biom_name"] }}&nbsp;<a class="download" data-downloadtype="biom" data-project="{{ projectNames[projectName]["pid"] }}" href="#" title="Download the biom file"><i class="fa fa-download"></i></a></th>
                        <td class="col-md-3 subsampleDisplayContainer">
                          <span class="subsampleDisplaySpan" id="subsampleDisplayContainer-{{ projectNames[projectName]['pid'] }}">
                            {% if projectNames[projectName]["subsampled_value"] == 0 %}
                              {% if projectNames[projectName]["matrix_type"] == "int" %}
                                Not Subsampled
                              {% else %}
                                Not Subsampled (Contains Non-Integer Values)
                              {% endif %}
                            {% else %}
                              Subsampled to
                              <b id="subsampleDisplayVal-{{ projectNames[projectName]['pid'] }}">
                                {{ projectNames[projectName]["subsampled_value"] }}
                                {% if projectNames[projectName]["subsampled_type"] == "auto" %}
                                  (auto)
                                {% endif %}
                              </b>
                            {% endif %}
                          </span>
                          &nbsp;
                          <a class="project-change-subsampling" data-subsampletype="{{ projectNames[projectName]['subsampled_type'] }}" data-subsampleval="{{ projectNames[projectName]['subsampled_value'] }}" data-html="true" data-project="{{ projectNames[projectName]["pid"] }}" href="#" title="Modify the subsampling"><i class="fa fa-pencil-square-o"></i></a>

                          {% if projectNames[projectName]["subsampled_removed_samples"]|length > 0 %}
                          <br />
                          <br />
                          Removed samples:
                          <b id="subsampleRemoved-{{ projectNames[projectName]['pid'] }}">
                            {{ projectNames[projectName]["subsampled_removed_samples"]|join(', ') }}
                          </b>
                          <i class="fa fa-question-circle" data-trigger="hover" data-toggle="popover" title="Removed Samples" data-content="Samples are removed when their sequence abundance falls below the subsampling thresholds. Try subsampling to a lower depth to capture more samples"></i>
                          {% endif %}
                        </td>
                        <td class="col-md-3">BIOM File</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                {% else %}
                  <div class="project-item" id="p-{{ projectNames[projectName]['pid'] }}">
                  <h4>{{ projectNames[projectName]["project_name"] }}</h4>
                  {% if not (demo and projectNames[projectName]["project_name"] == "COPD Example Project") %}
                  <a title="Delete this project" href="javascript:void(0);" data-project="{{ projectNames[projectName]["pid"] }}" data-projectname="{{ projectNames[projectName]["project_name"] }}" class="project-delete"><i class="fa fa-trash"></i></a>
                  {% endif %}

                  {% if projectNames[projectName]["project_name"] == "COPD Example Project" %}
                  <p><small class="text-muted">This example uses data from the Sze et al. study <a href="https://www.atsjournals.org/doi/full/10.1164/rccm.201502-0223OC" target="_blank">Host Response to the Lung Microbiome in Chronic Obstructive Pulmonary Disease</a></small></p>
                  {% endif %}
                  <table class="table table-hover" style="table-layout:fixed;">
                    <tbody> 
                      <tr> 
                        <th scope="row" class="project-fn col-md-5">
                          {{ projectNames[projectName]["orig_otu_table_name"] }}&nbsp;<a class="download" data-downloadtype="otu" data-project="{{ projectNames[projectName]["pid"] }}" href="#" title="Download the OTU table"><i class="fa fa-download"></i></a>
                        </th>
                        <td class="col-md-3 subsampleDisplayContainer">
                          <span class="subsampleDisplaySpan" id="subsampleDisplayContainer-{{ projectNames[projectName]["pid"] }}">
                            {% if projectNames[projectName]["subsampled_value"] == 0 %}
                              {% if projectNames[projectName]["matrix_type"] == "int" %}
                                Not Subsampled
                              {% else %}
                                Not Subsampled (Contains Non-Integer Values)
                              {% endif %}
                            {% else %}
                            Subsampled to 
                            <b id="subsampleDisplayVal-{{ projectNames[projectName]["pid"] }}">
                              {{ projectNames[projectName]["subsampled_value"] }}
                              {% if projectNames[projectName]["subsampled_type"] == "auto" %}
                                (auto)
                              {% endif %}
                            </b>
                            {% endif %} 
                          </span>
                          &nbsp;
                          <a class="project-change-subsampling" data-subsampletype="{{ projectNames[projectName]['subsampled_type'] }}" data-subsampleval="{{ projectNames[projectName]['subsampled_value'] }}" data-project="{{ projectNames[projectName]["pid"] }}" href="#" title="Modify the subsampling"><i class="fa fa-pencil-square-o"></i></a>&nbsp;
                          <a class="download" data-downloadtype="otu_subsampled" data-subsampletype="{{ projectNames[projectName]['subsampled_type'] }}" data-project="{{ projectNames[projectName]["pid"] }}" href="#" title="Download the subsampled OTU table"><i class="fa fa-download"></i></a>


                          {% if projectNames[projectName]["subsampled_removed_samples"]|length > 0 %}
                          <br />
                          <br />
                          Removed samples:
                          <b id="subsampleRemoved-{{ projectNames[projectName]["pid"] }}">
                            {{ projectNames[projectName]["subsampled_removed_samples"]|join(', ') }}
                          </b>
                          <i class="fa fa-question-circle" data-trigger="hover" data-toggle="popover" title="Removed Samples" data-content="Samples are removed when their sequence abundance falls below the subsampling thresholds. <br />Try subsampling to a higher depth"></i>
                          {% endif %}
                        </td> 
                        <td class="col-md-3">OTU Table</td>
                      </tr>
                      <tr> 
                        <th scope="row" class="project-fn">{{ projectNames[projectName]["orig_taxonomy_name"] }}&nbsp;<a class="download" data-downloadtype="taxonomy" data-project="{{ projectNames[projectName]["pid"] }}" href="#" title="Download the taxonomy file"><i class="fa fa-download"></i></a></th>
                        <td class="subsampleDisplayContainer"></td> 
                        <td>Taxonomy Map</td>
                      </tr>
                      <tr> 
                        <th scope="row" class="project-fn">{{ projectNames[projectName]["orig_sample_metadata_name"] }}&nbsp;<a class="download" data-downloadtype="sample_metadata" data-project="{{ projectNames[projectName]["pid"] }}" href="#" title="Download the sample metadata file"><i class="fa fa-download"></i></a></th>
                        <td class="subsampleDisplayContainer"></td> 
                        <td>Metadata</td>
                      </tr>
                    </tbody> 
                  </table>
                </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>

      <div id="push" style="height:42px;"></div>
    </div>

    {% include 'footer-full.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/plugins/bootbox.min.js"></script>
    <script src="/static/js/core.shared.js"></script>
    <script src="/static/js/core.projects.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

  </body>
</html>
