<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
    <title>Projects - mian</title>
    <style>
      .blackout {
        opacity: .5;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1040;
        background-color: #000;
      }

      .change-box {
        position: fixed;
        top: 80px;
        left:50%;
        width:400px;
        padding:42px;
        margin-left:-200px;
        z-index: 1042;
        background:#FFF;
        border-radius: 6px;
      }
    </style>
  </head>

  <body>
    {% include 'navigation.html' %}
    {% include 'loading-bar-processing.html' %}
    
    {% if newSignup %}
    <div class="alert alert-success">
      <strong>Welcome!</strong> Start by creating a new project below. 
    </div>
    {% endif %}

    <div id="otu-table-modified" class="message message-success" style="display:none;">
      <strong>Success</strong> Your changes have been successfully applied.
    </div>

    <div id="otu-table-modified-error" class="message message-danger" style="display:none;">
      <strong>Error</strong> Your changes were unable to be applied.
    </div>

    <div id="change-box" class="change-box" style="display:none;">
      <h3>Modify Subsampling</h3>
      <input style="width:50%;" class="form-control" id="change-subsampling" name="change-subsampling" type="number" value="1020" />
      <div class="btn-group" role="group" style="margin-top:8px;">
        <button type="button" class="btn btn-default change-cancel" data-project="{{ projectName }}">Cancel</button>
        <button type="button" class="btn btn-primary change-confirm" data-project="{{ projectName }}" >Change</button>
      </div>
      <hr />
      <h4>Other Options</h4>
      <button type="button" class="btn btn-default change-auto" data-project="{{ projectName }}">Auto Subsampling</button>
      <button type="button" class="btn btn-default change-reset" data-project="{{ projectName }}" >Reset</button>
      <a id="change-close" href="javascript:void(0);" style="position:absolute; top:18px; right:20px;cursor:pointer;font-size:24px;text-decoration:none;">&times;</a>
    </div>
    <div id="blackout" class="blackout" style="display:none;"></div>

    <div class="content-wrapper">
      <div class="container project-container">
        <div class="section-heading project-heading">
            <h2><i class="fa fa-folder"></i>&nbsp;&nbsp;Projects</h2>
        </div>
        <div class="row">
          <div class="col-md-2">
            <a href="create" class="btn btn-primary project-new">New Project</a>
          </div>
          <div class="col-md-10 project-main">
            {% if projectNames|length == 0 %}
              <div class="project-empty">
                <i class="fa fa-folder-o fa-4x"></i>
                <h3>No projects yet</h3>
              </div>
            {% else %}
              {% for projectName in projectNames %}
                {% if projectNames[projectName]["project_type"] == "biom" %}
                  <div class="project-item" id="p-{{ projectNames[projectName]["pid"] }}">
                  <h4>{{ projectName }}</h4>
                  <a title="Delete this project" href="javascript:void(0);" data-project="{{ projectNames[projectName]["pid"] }}" data-projectname="{{ projectName }}" class="project-delete"><i class="fa fa-trash"></i></a>
                  <table class="table table-hover" style="table-layout:fixed;">
                    <tbody>
                      <tr>
                        <th scope="row" class="project-fn col-md-5">{{ projectNames[projectName]["orig_biom_name"] }}</th>
                        <td class="col-md-3 subsampleDisplayContainer">
                          <span class="subsampleDisplaySpan" id="subsampleDisplayContainer-{{ projectNames[projectName]["pid"] }}">
                            {% if projectNames[projectName]["subsampled_value"] == 0 %}
                            Not Subsampled
                            {% else %}
                            Subsampled to
                            <b id="subsampleDisplayVal-{{ projectNames[projectName]["pid"] }}">
                              {{ projectNames[projectName]["subsampled_value"] }}
                              {% if projectNames[projectName]["subsampled_type"] == "auto" %}
                                (auto)
                              {% endif %}
                            </b>
                            {% endif %}
                          </span>
                          &nbsp;
                          <a class="project-change-subsampling" data-subsampletype="{{ projectNames[projectName]['subsampled_type'] }}" data-subsampleval="{{ projectNames[projectName]['subsampled_value'] }}" data-html="true" data-project="{{ projectNames[projectName]["pid"] }}" href="#" title="Modify the subsampling"><i class="fa fa-pencil-square-o"></i></a>

                          {% if projectNames[projectName]["subsampled_removed_samples"]|length > 0 %}
                          <br />
                          <br />
                          Removed samples:
                          <b id="subsampleRemoved-{{ projectNames[projectName]["pid"] }}">
                            {{ projectNames[projectName]["subsampled_removed_samples"]|join(', ') }}
                          </b>
                          <i class="fa fa-question-circle" data-trigger="hover" data-toggle="popover" title="Removed Samples" data-content="Samples are removed when their sequence abundance falls below the subsampling thresholds. <br />Try subsampling to a higher depth"></i>
                          {% endif %}
                        </td>
                        <td class="col-md-2">BIOM File</td>
                        <td class="project-item-meta col-md-1">
                          <form data-project="{{ projectNames[projectName]["pid"] }}" action="/upload" method="post" enctype="multipart/form-data">
                            <a class="project-trig-biom" href="javascript:void(0);" title="Replace the OTU table">Replace</a>
                            <input type="file" name="upload" class="project-replace-biom" data-project="{{ projectNames[projectName]["pid"] }}" accept=".biom" style="display:none;" />
                            <input class="replace-fileType" name="fileType" type="hidden" value="biom" />
                            <input class="replace-subsampleType" name="subsampleType" type="hidden" value="" />
                            <input class="replace-subsampleTo" name="subsampleTo" type="hidden" value="" />
                            <input type="hidden" name="project" value="{{ projectNames[projectName]["pid"] }}" />
                          </form>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                {% else %}
                  <div class="project-item" id="p-{{ projectNames[projectName]["pid"] }}">
                  <h4>{{ projectName }}</h4>
                  <a title="Delete this project" href="javascript:void(0);" data-project="{{ projectNames[projectName]["pid"] }}" data-projectname="{{ projectName }}" class="project-delete"><i class="fa fa-trash"></i></a>
                  <table class="table table-hover" style="table-layout:fixed;">
                    <tbody> 
                      <tr> 
                        <th scope="row" class="project-fn col-md-5">{{ projectNames[projectName]["orig_otu_table_name"] }}</th>
                        <td class="col-md-3 subsampleDisplayContainer">
                          <span class="subsampleDisplaySpan" id="subsampleDisplayContainer-{{ projectNames[projectName]["pid"] }}">
                            {% if projectNames[projectName]["subsampled_value"] == 0 %}
                            Not Subsampled
                            {% else %}
                            Subsampled to 
                            <b id="subsampleDisplayVal-{{ projectNames[projectName]["pid"] }}">
                              {{ projectNames[projectName]["subsampled_value"] }}
                              {% if projectNames[projectName]["subsampled_type"] == "auto" %}
                                (auto)
                              {% endif %}
                            </b>
                            {% endif %} 
                          </span>
                          &nbsp;
                          <a class="project-change-subsampling" data-subsampletype="{{ projectNames[projectName]['subsampled_type'] }}" data-subsampleval="{{ projectNames[projectName]['subsampled_value'] }}" data-project="{{ projectNames[projectName]["pid"] }}" href="#" title="Modify the subsampling"><i class="fa fa-pencil-square-o"></i></a>


                          {% if projectNames[projectName]["subsampled_removed_samples"]|length > 0 %}
                          <br />
                          <br />
                          Removed samples:
                          <b id="subsampleRemoved-{{ projectNames[projectName]["pid"] }}">
                            {{ projectNames[projectName]["subsampled_removed_samples"]|join(', ') }}
                          </b>
                          <i class="fa fa-question-circle" data-trigger="hover" data-toggle="popover" title="Removed Samples" data-content="Samples are removed when their sequence abundance falls below the subsampling thresholds. <br />Try subsampling to a higher depth"></i>
                          {% endif %}
                        </td> 
                        <td class="col-md-2">OTU Table</td> 
                        <td class="project-item-meta col-md-1">
                          <form data-project="{{ projectNames[projectName]["pid"] }}" action="/upload" method="post" enctype="multipart/form-data">
                            <a class="project-trig-otu" href="javascript:void(0);" title="Replace the OTU table">Replace</a>
                            <input type="file" name="upload" class="project-replace-otu" data-project="{{ projectNames[projectName]["pid"] }}" accept=".tsv,.txt,.shared" style="display:none;" />
                            <input class="replace-fileType" name="fileType" type="hidden" value="otuTable" />
                            <input class="replace-subsampleType" name="subsampleType" type="hidden" value="" />
                            <input class="replace-subsampleTo" name="subsampleTo" type="hidden" value="" />
                            <input type="hidden" name="project" value="{{ projectNames[projectName]["pid"] }}" />
                          </form>
                        </td>
                      </tr>
                      <tr> 
                        <th scope="row" class="project-fn">{{ projectNames[projectName]["orig_taxonomy_name"] }}</th>
                        <td class="subsampleDisplayContainer"></td> 
                        <td>Taxonomy Map</td> 
                        <td class="project-item-meta">
                          <form data-project="{{ projectNames[projectName]["pid"] }}" action="/upload" method="post" enctype="multipart/form-data">
                            <a class="project-trig-tax" href="javascript:void(0);" title="Replace the taxonomy mapping">Replace</a>
                            <input type="file" name="upload" class="project-replace-taxonomy" data-project="{{ projectNames[projectName]["pid"] }}" accept=".tsv,.txt,.taxonomy" style="display:none;" />
                            <input class="replace-fileType" name="fileType" type="hidden" value="otuTaxonomyMapping" />
                            <input type="hidden" name="project" value="{{ projectNames[projectName]["pid"] }}" />
                          </form>
                        </td>
                      </tr>
                      <tr> 
                        <th scope="row" class="project-fn">{{ projectNames[projectName]["orig_sample_metadata_name"] }}</th>
                        <td class="subsampleDisplayContainer"></td> 
                        <td>Metadata</td> 
                        <td class="project-item-meta">
                          <form data-project="{{ projectNames[projectName]["pid"] }}" action="/upload" method="post" enctype="multipart/form-data">
                            <a class="project-trig-metadata" href="javascript:void(0);" title="Replace the metadata">Replace</a>
                            <input type="file" name="upload" class="project-replace-metadata" data-project="{{ projectNames[projectName]["pid"] }}" accept=".tsv,.txt" style="display:none;" />
                            <input class="replace-fileType" name="fileType" type="hidden" value="otuMetadata" />
                            <input type="hidden" name="project" value="{{ projectNames[projectName]["pid"] }}" />
                          </form>
                        </td>
                      </tr>
                    </tbody> 
                  </table>
                </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>

      <div id="push" style="height:42px;"></div>
    </div>

    {% include 'footer-full.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/plugins/bootbox.min.js"></script>
    <script src="static/js/core.shared.js"></script>
    <script src="static/js/core.projects.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="static/js/ie10-viewport-bug-workaround.js"></script>-->

  </body>
</html>
