
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
    <title>No Projects Yet - Mian</title>
  </head>

  <body>
    {% include 'navigation.html' %}

    <div class="content-wrapper" style="padding-top:24px">
      <div class="jumbotron" style="margin: 0 auto;width:540px;padding:36px;">
        <h2>No Projects Yet</h2>
        <p>You'll have access to the visualization and feature selection tools once you <a href="/create">create a new project</a></p>
      </div>

      <div id="push" style="height:42px;"></div>
    </div>

    {% include 'footer-full.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

  </body>
</html>
