<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Random Forest Classifier - Machine Learning - Mian</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" rel="stylesheet">
</head>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top" style="font-size:22px;"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Random Forest Classifier <a href="https://tbj128.gitbook.io/mian/random-forest-classifier" target="_blank"><i class="fa fa-info-circle analysis-help" ></i></a></h3>

    {% include 'project_list.html' %}

    <hr/>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% include 'filtering_options.html' %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingAnalysisParameters">
              <h4 class="panel-title">
                <a class="accordion-toggle" role="button" data-toggle="collapse" href="#analysisParameters" aria-expanded="true" aria-controls="analysisParameters">
                  Analysis Parameters
                </a>
              </h4>
            </div>
            <div id="analysisParameters" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingAnalysisParameters">
              <div class="panel-body">

                <label class="control-label">Taxonomic Level <a href="https://tbj128.gitbook.io/mian/random-forest-classifier#taxonomic-level" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
                    <option value="Kingdom">Kingdom</option>
                    <option value="Phylum">Phylum</option>
                    <option value="Class">Class</option>
                    <option value="Order">Order</option>
                    <option value="Family">Family</option>
                    <option value="Genus">Genus</option>
                    <option value="Species">Species</option>
                    <option value="OTU" selected>OTU</option>
                </select>

                <label class="control-label">Categorical Variable <a href="https://tbj128.gitbook.io/mian/random-forest-classifier#categorical-variable" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="catvar" name="catvar" class="form-control">
                </select>

                <label class="control-label">Evaluation Method <a href="https://tbj128.gitbook.io/mian/random-forest-classifier#evaluation-method" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <select id="crossValidate" name="crossValidate" class="form-control">
                    <option value="train">Train/Val/Test Split</option>
                    <option value="full">Cross-Validation on Full Dataset</option>
                </select>

                <div id="cvFolds" style="display:none;">
                    <label class="control-label">Cross-Validation Folds <a href="https://tbj128.gitbook.io/mian/random-forest-classifier#cross-validation-folds" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <input class="form-control" id="crossValidateFolds" name="crossValidateFolds" type="number" value="3" />
                </div>

                <div id="trainingConfig">
                    <label class="control-label">Freeze Training Set Between Changes <a href="https://tbj128.gitbook.io/mian/random-forest-classifier#freeze-training-set-between-changes" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <select id="fixTraining" name="fixTraining" class="form-control">
                        <option value="yes" selected>Yes</option>
                        <option value="no">No</option>
                    </select>

                    <label class="control-label">Training Proportion <a href="https://tbj128.gitbook.io/mian/random-forest-classifier#training-proportion" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                    <input class="form-control" id="trainingProportion" name="trainingProportion" type="number" value="0.7" />
                </div>

                <label class="control-label">Number of Trees <a href="https://tbj128.gitbook.io/mian/random-forest-classifier#number-of-trees" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <input class="form-control" id="numTrees" name="numTrees" type="number" value="100"/>

                <label class="control-label">Max Tree Depth <a href="https://tbj128.gitbook.io/mian/random-forest-classifier#max-tree-depth" target="_blank"><i class="fa fa-info-circle"></i></a></label>
                <input class="form-control" id="maxDepth" name="maxDepth" type="number" value="" placeholder="Leave blank for no max depth" />
              </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
    <div id="display-no-catvar" class="display-notification project-empty" style="display:none;">
        <div class="row">
            <div class="col-md-3">
                <i class="fa fa-table fa-4x"></i>
            </div>
            <div class="col-md-9">
                <h3>No Results Yet</h3>
                <h5>Start by adding a <strong>Categorical Variable</strong> on the left</h5>
                <p>
                    <a href="https://tbj128.gitbook.io/mian/random-forest" target="_blank">How do I use this tool?</a>
                </p>
            </div>
        </div>
    </div>
    {% include 'notifications.html' %}
    {% include 'download_container.html' %}

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
        <div id="referral-alert" class="alert alert-success" role="alert" style="display:none;">
            <strong>Feature Selection </strong>A random forest classifier is being built using features selected by the <strong><span id="referer-name"></span></strong> feature selection module
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Out-of-Bag Training Error</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="oob-error"></td>
                </tr>
            </tbody>
        </table>
        <hr />
        <h4>ROC Curve (Test Data)</h4>
		<canvas id="canvas"></canvas>
        <table class="table">
            <thead>
                <tr>
                  <th scope="col">Label</th>
                  <th scope="col" colspan="2">Train (n=<span id="train-n"></span>)</th>
                  <th scope="col" colspan="2">Val (n=<span id="val-n"></span>)</th>
                  <th scope="col" colspan="2">Test (n=<span id="test-n"></span>)</th>
                </tr>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Samples</th>
                  <th scope="col">AUC</th>
                  <th scope="col">Samples</th>
                  <th scope="col">AUC</th>
                  <th scope="col">Samples</th>
                  <th scope="col">AUC</th>
                </tr>
            </thead>
            <tbody id="auc-rows">
            </tbody>
        </table>
        <hr/>
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Interpreting Your Results</h4>
            <ul>
                <li>Assess the predictive performance of your model using the test error.</li>
                <li>Tune your model for better performance by looking only at the validation error.</li>
                <li>The AUC tells you the probability that a randomly sampled positive patient will have a higher predicted score for the positive class than the negative class.</li>
            </ul>
            <br />
            <a href="https://tbj128.gitbook.io/mian/random-forest#interpreting-your-results" target="_blank" class="btn btn-sm btn-default">Learn More</a>
        </div>
    </div><!-- /.container -->

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz-d3v4.html' %}


<!-- Include custom JS here -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="/static/js/palette.js"></script>
<script src="/static/js/core.randomforest.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
