<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Rarefaction - Mian</title>

    <link rel="stylesheet" href="/static/css/plugins/bootstrap-slider.min.css" type="text/css"/>
    <style>
      .analysis-container div.tooltip { 
          position: absolute;
          background:#FFF;
          padding: 4px 8px;       
          font: 12px sans-serif;
          border: 1px solid steelblue;
          border-radius: 4px;     
          min-width:128px;
          margin-right:12px;
          pointer-events: none;     
      }

    </style>
</head>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3 class="pad-sides pad-top"><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Rarefaction <i class="fa fa-info-circle" data-toggle="popover" data-title="Rarefaction" data-content="Draws a series of rarefaction curves on the OTU table prior to subsampling<br /><br />This analysis relies on the rarecurve function in the R 'vegan' package <a href='https://www.rdocumentation.org/packages/vegan/versions/2.4-2/topics/rarefy' target='_blank'>here</a>" data-trigger="hover"></i></h3>

    <div class="alert alert-info" role="alert">
        <b>Note</b><br/>
        <ul>
            <li>This tool may take up to a few minutes to complete.</li>
            <li>This tool operates on the original OTU table (before sub-sampling was applied).</li>
        </ul>
    </div>

    <div id="already-subsampled" class="alert alert-warning" role="alert" style="display:none;">
        <b>Warning</b> Make sure that the originally uploaded OTU table has not been sub-sampled yet.
    </div>

    {% include 'project_list.html' %}

    <!-- TODO: Stretch Goals: Have sample filtering and subsampling step adjustments -->
    <!--<label class="control-label">Samples</label>
    <select style="display:none;" id="samples" name="samples" class="form-control pad-bottom" multiple="multiple">
    </select>

    <hr/>

    <label class="control-label">Max Subsample</label>
    <input class="form-control" id="maxsubsample" name="maxsubsample" type="number" value="10000"/>

    <label class="control-label">Subsample Step</label>
    <input class="form-control" id="subsamplestep" name="subsamplestep" type="number" value="100"/>-->
</div>

<div class="content-wrapper">
    {% include 'notifications.html' %}
    {% include 'download_container.html' %}

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
    </div><!-- /.container -->

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz.html' %}

<!-- Include custom JS here -->
<script src="/static/js/core.rarefaction.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="/static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>
