<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <title>Tree View - mian</title>
</head>

<style>

    .tree-view .node circle {
      fill: #fff;
      stroke: steelblue;
      stroke-width: 1.5px;
      shape-rendering: auto;
    }

    .tree-view .node {
      font: 12px sans-serif;
    }

    .tree-view .node-abun {
      stroke-width: 0px !important;
    }

    .tree-view .node-abun:hover {
      stroke-width: 1px !important;
    }

    .tree-view .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 1.5px;
    }

    .tree-view div.tooltip { 
        position: absolute;
        background:#FFF;
        padding: 4px 8px;       
        font: 12px sans-serif;
        border: 1px solid steelblue;
        border-radius: 4px;     
        min-width:128px;
        margin-right:12px;
        pointer-events: none;     
    }


</style>

<body>
{% include 'navigation.html' %}
{% include 'loading-bar.html' %}

<div id="editor" class="editor">
    <h3><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Tree View <i class="fa fa-info-circle" data-toggle="popover" data-title="Tree View" data-content="Renders a taxonomic tree up until the specified taxonomic level. At each taxonomic level, show the OTUs grouped by a specified metadata parameter" data-trigger="hover"></i></h3>

    {% include 'project_list.html' %}

    <hr/>

    {% include 'filtering_options.html' %}

    <hr/>

    <h4>Visualization Parameters</h4>

    <label class="control-label">Categorical Variable</label>
    <select id="catvar" name="catvar" class="form-control">
    </select>

    <label class="control-label">Taxonomic Display Level <i class="fa fa-info-circle" data-toggle="popover" data-title="Taxonomic Level" data-content="The OTUs will be grouped together (by summing the OTU values) at the selected taxonomic level before the analysis is applied."></i></label>
    <select id="taxonomy_display_level" name="taxonomy_display_level" class="form-control pad-bottom">
        <option value="Kingdom">Kingdom</option>
        <option value="Phylum">Phylum</option>
        <option value="Class" selected>Class</option>
        <option value="Order">Order</option>
        <option value="Family">Family</option>
        <option value="Genus">Genus</option>
        <option value="Species">Species</option>
        <option value="OTU">OTU</option>
    </select>

    <label class="control-label">Display Values <i class="fa fa-info-circle" data-toggle="popover" data-title="Display Values" data-content="Indicate which metric to display: <ul><li><strong>Non-Zero Counts</strong> The number of samples with a non-zero count for the indicated taxonomy</li><li><strong>Average Abundance</strong> The mean of the counts across the samples for the indicated taxonomy</li><li><strong>Median Abundance</strong> The median of the counts across the samples for the indicated taxonomy</li><li><strong>Max Abundance</strong> The max of the counts across the samples for the indicated taxonomy</li></ul>"></i></label>
    <select id="display_values" name="display_values" class="form-control pad-bottom">
        <option value="nonzero">Non-Zero Counts</option>
        <option value="avgabun">Average Abundance</option>
        <option value="medianabun">Median Abundance</option>
        <option value="maxabun">Max Abundance</option>
    </select>

    <label class="control-label">Exclude Unclassified <i class="fa fa-info-circle" data-toggle="popover" data-title="Exclude Unclassified" data-content="<ul><li><strong>Yes</strong> Ignores all counts coming from OTUs unclassified at the specified taxonomic level</li><li><strong>No</strong> Include counts from all OTUs</li></ul>"></i></label>
    <select id="exclude_unclassified" name="exclude_unclassified" class="form-control pad-bottom">
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
</div>

<div class="content-wrapper">
    <div id="display-error" class="project-empty" style="display:none;">
        <i class="fa fa-exclamation-circle fa-4x"></i>
        <h3>Analysis cannot be performed with these parameters</h3>
        <h5>Try changing the Category Breakdown parameter and try again</h5>
    </div>

    <div id="analysis-container" class="analysis-container tree-view" style="min-height:500px;">
    </div><!-- /.container -->

    <hr style="margin-top:0px; margin-bottom:0px;"/>

    <div id="stats-container" class="analysis-container" style="display:none;">
        <h4>Welch's T-Test Summary</h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Category 1</th>
                <th>Category 2</th>
                <th>P-Value</th>
            </tr>
            </thead>
            <tbody id="stats-rows">
            </tbody>
        </table>
    </div><!-- /.container -->

    <div id="push" style="height:42px;"></div>
</div>

{% include 'footer-viz.html' %}

<!-- Include custom JS here -->
<script src="static/js/core.tree.js"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="static/js/ie10-viewport-bug-workaround.js"></script>-->

</body>
</html>