<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
    <title>Abundance Boxplots - mian</title>
  </head>

  <body>
    {% include 'navigation.html' %}

    <div id="editor" class="editor">
      <h3><i class="fa fa-chevron-right"></i>&nbsp;&nbsp;Abundances Analysis</h3>

      <label class="control-label">Project</label>
      <select id="project" name="project" class="form-control">
        {% for projectName in projectNames %}
          {% if projectName == currProject %}
            <option value="{{ projectName }}" selected>{{ projectName }}</option>
          {% else %}
            <option value="{{ projectName }}">{{ projectName }}</option>
          {% endif %}
        {% endfor %}
      </select>

      <hr />

      {% include 'filtering_options.html' %}

      <hr />

      <h4>Visualization Parameters</h4>

      <label class="control-label">Category Breakdown</label>
      <select id="catvar" name="catvar" class="form-control">
      </select>
    </div>

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
    </div><!-- /.container -->
    <hr style="margin-top:0px; margin-bottom:0px;" />
    <div id="stats-container" class="analysis-container" style="display:none;">
      <h4>Welch's T-Test Summary</h4>
      <table class="table table-hover"> 
        <thead> 
          <tr> 
            <th>Category 1</th> 
            <th>Category 2</th> 
            <th>P-Value</th> 
          </tr> 
        </thead> 
        <tbody id="stats-rows"> 
        </tbody>
      </table>
    </div><!-- /.container -->

    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/d3.js"></script>
    <script src="static/js/jquery.csv.js"></script>
    <script src="static/js/plugins/bootstrap-multiselect.js"></script>
    <script src="static/js/core.shared.js"></script>
    <script src="static/js/core.abundance.boxplots.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="static/js/ie10-viewport-bug-workaround.js"></script>-->

  </body>
</html>
