<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
    <title>Fisher Exact - mian</title>
  </head>

  <body>
    {% include 'navigation.html' %}

    <div id="editor" class="editor">
      <h3>Fisher Exact</h3>

      <label class="control-label">Project</label>
      <select id="project" name="project" class="form-control">
        {% for projectName in projectNames %}
          <option value="{{ projectName }}">{{ projectName }}</option>
        {% endfor %}
      </select>

      <hr />

      <label class="control-label">Taxonomic Level</label>
      <select id="taxonomy" name="taxonomy" class="form-control pad-bottom">
        <option value="Kingdom">Kingdom</option>
        <option value="Phylum">Phylum</option>
        <option value="Class">Class</option>
        <option value="Order">Order</option>
        <option value="Family">Family</option>
        <option value="Genus">Genus</option>
        <option value="Species">Species</option>
        <option value="OTU">OTU</option>
      </select>

      <select style="display:none;" id="taxonomy-specific" name="taxonomy-specific" class="form-control pad-bottom" multiple="multiple">
      </select>

      <hr />

      <label class="control-label">Categorical Variable</label>
      <select id="catvar" name="catvar" class="form-control">
        {% for catVar in catVars %}
          <option value="{{ catVar }}">{{ catVar }}</option>
        {% endfor %}
      </select>

      <label class="control-label">Pairwise Comparison Variable</label>
      <select id="pwVar1" name="pwVar1" class="form-control" style="margin-bottom: 4px;">
        {% for uniqueCatVal in uniqueCatVals %}
          <option value="{{ uniqueCatVal }}">{{ uniqueCatVal }}</option>
        {% endfor %}
      </select>
      <select id="pwVar2" name="pwVar2" class="form-control">
        {% for uniqueCatVal in uniqueCatVals %}
          <option value="{{ uniqueCatVal }}">{{ uniqueCatVal }}</option>
        {% endfor %}
      </select>

      <label class="control-label">Min Presence Threshold</label>
      <input class="form-control" id="minthreshold" name="minthreshold" type="number" value="0" />

      <label class="control-label">Taxa Exclusion Threshold (Keep >=)</label>
      <input class="form-control" id="keepthreshold" name="keepthreshold" type="number" value="5" />
    </div>

    <div id="analysis-container" class="analysis-container" style="min-height:500px;">
      <table class="table table-hover"> 
        <thead> 
          <tr>
            <th>Taxonomy</th> 
            <th>P-Value</th> 
            <th>Q-Value</th> 
            <th><span id="cat1-present"></span> Present</th> 
            <th><span id="cat1-tot"></span> Total</th> 
            <th><span id="cat2-present"></span> Present</th>
            <th><span id="cat2-tot"></span> Total</th>
          </tr> 
        </thead>
        <tbody id="stats-rows"> 
        </tbody>
      </table>
    </div><!-- /.container -->

    <hr style="margin-top:0px; margin-bottom:0px;" />

    {% include 'footer.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/d3.js"></script>
    <script src="static/js/plugins/bootstrap-multiselect.js"></script>
    <script src="static/js/core.shared.js"></script>
    <script src="static/js/core.fisher.exact.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="static/js/ie10-viewport-bug-workaround.js"></script>-->

  </body>
</html>
