<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'header.html' %}
    <title>mian</title>
  </head>

  <body>
    {% include 'navigation.html' %}

    <div class="highlight">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1 style="font-size:72px;margin:48px 0 24px 0;"><i class="fa fa-bar-chart"></i></h1>
            <h1 style="margin-bottom:24px;">Introducing <strong>mian</strong></h1>
            <h4 style="color:#D4F5FF;">A new way to visualize and analyse the microbiome in your browser. Built by the research community for the research community.</h4>
            <br /><br />
            <p>
              <a href="#" class="btn btn-default btn-lg">&nbsp;&nbsp;SIGNUP&nbsp;&nbsp;</a>
            </p>
          </div>
          <div class="col-md-4"><img src="static/img/laptop-preview.png" /></div>
        </div>
      </div>
    </div>

    <div class="highlight-light" style="text-align:center;">
      <div class="container">
        <div class="section-heading" style="margin:0 auto 64px auto;">
            <h3>mian<span> features</span></h3>
            <span class="divider"></span>
            <p>A mian account gets you access to tools that will help you visually explore your microbiome dataset. Best of all, it's completely free.</p>
        </div>
        <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="feature">
                  <div class="icon">
                      <i class="fa fa-cloud fa-4x"></i>
                  </div>
                  <h4>Cloud Enabled</h4>
                  <p>Any data that you work with is accessible anytime anywhere.</p>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="feature">
                  <div class="icon">
                      <i class="fa fa-filter fa-4x"></i>
                  </div>
                  <h4>Responsive Filtering</h4>
                  <p>Pick and choose to use different levels of filtering of your data.</p>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="feature">
                  <div class="icon">
                      <i class="fa fa-line-chart fa-4x"></i>
                  </div>
                  <h4>Powerful Visualizations</h4>
                  <p>Easily see new trends and patterns in the form of bar charts, scatterplots, and more.</p>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="feature">
                  <div class="icon">
                      <i class="fa fa-plus fa-4x"></i>
                  </div>
                  <h4>Statistical Analysis</h4>
                  <p>Instantly see the statistical significance of any visualizations.</p>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="highlight-light" style="text-align:center;">
      <div class="container">
        Built at the University of British Columbia. See the source on <a href="https://github.com/tbj128/OTUViz">Github</a>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="static/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/d3.js"></script>
    <script src="static/js/jquery.csv.js"></script>
    <script src="static/js/plugins/bootstrap-multiselect.js"></script>
    <script src="static/js/core.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="static/js/ie10-viewport-bug-workaround.js"></script>-->

  </body>
</html>
